<div class="card">
    <div class="card-header">
        <div [ngClass]="sticky ? '' : ''"  id="navbar">
            <div class="row upsert-navbar">
                <div class="col-md-5">
                    <h2>{{ isView ? ' Data Use Process' : isEdit ? 'Editing Data Use Process' : 'Adding new data use process'}}</h2>
                </div>
                <div class="col-md-7 text-right">
                    <ng-container *ngIf="showUploadButton">
                        <button class="btn btn-success mr-1" (click)="goToTsd()">Access Data</button>
                    </ng-container>
                    <ng-container *ngIf="isView">
                        <ng-container *ngIf="role !== 'User'">
                            <a [routerLink]="['/data-use', id, 'edit']" class="btn btn-primary mr-1">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </ng-container>
                        <!-- <button class="btn btn-primary mr-1" (click)="printDocument()">
                            <i class="fa fa-print"></i> PDF
                        </button> -->
                        <button class="btn btn-primary mr-1" (click)="jsonExport()">
                            <i class="fa fa-code"></i> JSON
                        </button>
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </ng-container>
                    <ng-container *ngIf="!isView && showButton">
                        <button class="btn btn-success mr-5" (click)="onSave()">{{isEdit ? 'Apply Changes' : 'Save'}}</button>
                        <button class="btn btn-warning" (click)="back()">Cancel</button>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-5">
                <div class="pl-5">
                    <h6>{{dupData?.displayName}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 mb-5">
                <ng-container *ngIf="isView || isEdit">
                    <ul class="nav nav-pills maxw-fit-content nav-fill" style="border-bottom: 1px solid lightgray">
                        <li class="nav-item">
                            <a class="nav-link active" href="#overview" data-toggle="tab" id="overviews"
                                (click)="showButton = true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#setup" data-toggle="tab" id="setups"
                                (click)="showButton = false">{{ isView ? 'Linked
                                Objects and People' : 'Set up'}}</a>
                        </li>
                    </ul>
                </ng-container>
            </div>
            <div class="tab-content w-100">
                <div class="tab-pane fade show active" id="overview">
                    <div class="col-md-12">
                        <form [formGroup]="form">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="" class="font-style text-capitalize">organization<sup>*</sup></label>
                                    <ng-select [items]="organizationList" bindLabel="defaultName" bindValue="id" formControlName="organisation"
                                        [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control"
                                        notFoundText="No members found" placeholder="Select Organisation" *ngIf="!isView"
                                        [ngClass]="{ 'is-invalid': submitted && g.organisation.errors }" [readonly]="isEdit">
                                    </ng-select>
                                    <div class="col-md-12 invalid-feedback" *ngIf="submitted && g.organisation.errors">
                                        <p *ngIf="submitted && g.organisation.errors.required"> Please select Organization</p>
                                    </div>
                                    <h6 *ngIf="isView" style="font-weight: 100;">
                                        {{findOrganization(dupData?.organisation?.id)}}</h6>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="font-style text-capitalize">Display Name<sup>*</sup></label>
                                    <input type="text" class="form-control" formControlName="displayName" *ngIf="!isView"
                                        [ngClass]="{ 'is-invalid': submitted && g.displayName.errors }">
                                    <div class="col-md-12 invalid-feedback" *ngIf="submitted && g.displayName.errors">
                                        <p *ngIf="submitted && g.displayName.errors.required"> Please enter the Display
                                            Name</p>
                                    </div>
                                    <h6 *ngIf="isView" style="font-weight: 100;">{{dupData?.displayName}}</h6>
                                </div>
                            </div>
                            <div class="row form-group" *ngIf="isEdit || isView">
                                <div class="col-md-6">
                                    <label for="" class="font-style text-capitalize pr-5">Status</label>
                                    <button class="btn btn-danger btn-sm" *ngIf="!isView" (click)="resetAll()">Change Submission Status</button>
                                    <select class="form-control" formControlName="status" *ngIf="showStatus" (change)="onChange()">
                                        <option disabled selected value="">Select an option...</option>
                                        <option [value]=status.id *ngFor="let status of statusList">{{status.name}}
                                        </option>
                                    </select>
                                    <h6 *ngIf="!showStatus || isView" style="font-weight: 100;">
                                        {{findStatus(dupData?.status?.id)}}</h6>
                                </div>
                            </div>
                            <div #wizard class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first" data-wizard-clickable="true">
                                <div class="wizard-nav border-bottom">
                                    <div class="wizard-steps p-8 p-lg-10">
                                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                            <div class="wizard-label">
                                                <i class="wizard-icon flaticon2-browser-1"></i>
                                                <h3 class="wizard-title">Creation of DUP record</h3>
                                                <i class="fa fa-check-circle" style="color: green;"
                                                    *ngIf="!(isEdit || isView) ? 1 < currentStatus : 1 < currentStatus"></i>
                                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="1 === currentStatus"></i>
                                            </div>
                                        </a>
                                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                            <div class="wizard-label">
                                                <i class="wizard-icon flaticon2-setup"></i>
                                                <h3 class="wizard-title">Set up of users, objects etc</h3>
                                                <i class="fa fa-check-circle" style="color: green;"
                                                    *ngIf="!(isEdit || isView) ? 2 < currentStatus : 2 < currentStatus"></i>
                                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="2 === currentStatus"></i>
                                            </div>
                                        </a>
                                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                            <div class="wizard-label">
                                                <i class="wizard-icon flaticon-responsive"></i>
                                                <h3 class="wizard-title">Check pre-reqs, prepare DUA</h3>
                                                <i class="fa fa-check-circle" style="color: green;"
                                                    *ngIf="!(isEdit || isView) ? 3 < currentStatus : 3 < currentStatus"></i>
                                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="3 === currentStatus"></i>
                                            </div>
                                        </a>
                                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                            <div class="wizard-label">
                                                <i class="wizard-icon flaticon-truck"></i>
                                                <h3 class="wizard-title">DUA agreed, objects available</h3>
                                                <i class="fa fa-check-circle" style="color: green;"
                                                    *ngIf="!(isEdit || isView) ? 4 < currentStatus : 4 < currentStatus"></i>
                                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="4 === currentStatus"></i>
                                            </div>
                                        </a>
                                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                                            <div class="wizard-label">
                                                <i class="wizard-icon flaticon2-open-text-book"></i>
                                                <h3 class="wizard-title">Access confirmed</h3>
                                                <i class="fa fa-check-circle" style="color: green;"
                                                *ngIf="5 === currentStatus" ></i>
                                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="!(isEdit || isView) ? 5 < currentStatus : 5 < currentStatus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                                    <div class="col-md-12" data-wizard-type="step-content" data-wizard-state="current">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">Initial Contact
                                                    Date</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="initialContactDate"
                                                            ngbDatepicker #initialContactDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.initialContactDate.errors }"
                                                            (click)="initialContactDate.toggle()" formControlName="initialContactDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="initialContactDate.toggle()" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.initialContactDate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-wizard-type="step-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">Setup Completed</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="setUpCompletedDate" ngbDatepicker
                                                            #setUpCompletedDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.setUpCompletedDate.errors }"
                                                            (click)="setUpCompletedDate.toggle()" formControlName="setUpCompletedDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="setUpCompletedDate.toggle()" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.setUpCompletedDate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-wizard-type="step-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">PreRequest Met</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="prereqsMetDate" ngbDatepicker
                                                            #prereqsMetDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.prereqsMetDate.errors }"
                                                            (click)="prereqsMetDate.toggle()" formControlName="prereqsMetDate" [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="prereqsMetDate.toggle()" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.prereqsMetDate)}}</h6>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">DUA Agreed Date</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="duaAgreedDate" ngbDatepicker
                                                            #duaAgreedDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.duaAgreedDate.errors }"
                                                            (click)="duaAgreedDate.toggle()" formControlName="duaAgreedDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="duaAgreedDate.toggle()" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.duaAgreedDate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-wizard-type="step-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">Availability
                                                    Requested</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityRequestedDate"
                                                            ngbDatepicker #availabilityRequestedDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.availabilityRequestedDate.errors }"
                                                            (click)="availabilityRequestedDate.toggle()" formControlName="availabilityRequestedDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="availabilityRequestedDate.toggle()"
                                                                type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.availabilityRequestedDate)}}
                                                </h6>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">Availability
                                                    Confirmed</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityConfirmedDate"
                                                            ngbDatepicker #availabilityConfirmedDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.availabilityConfirmedDate.errors }"
                                                            (click)="availabilityConfirmedDate.toggle()" formControlName="availabilityConfirmedDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="availabilityConfirmedDate.toggle()"
                                                                type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.availabilityConfirmedDate)}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-wizard-type="step-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="" class="font-style text-capitalize">Access
                                                    Confirmed</label>
                                                <div class="form-group" *ngIf="!isView">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd" name="accessConfirmedDate"
                                                            ngbDatepicker #accessConfirmedDate="ngbDatepicker"
                                                            [ngClass]="{ 'is-invalid': submitted && g.accessConfirmedDate.errors }"
                                                            (click)="accessConfirmedDate.toggle()" formControlName="accessConfirmedDate"
                                                            [maxDate]="todayDate" container='body'>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" (click)="accessConfirmedDate.toggle()" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6 *ngIf="isView" style="font-weight: 100;">
                                                    {{viewDate(dupData?.accessConfirmedDate)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top pt-10">
                                        <div class="mr-2">
                                            <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                                                data-wizard-type="action-prev" (click)="buttonClick='previous'">
                                                Previous
                                            </div>
                                        </div>
                                        <div>
                                            <div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                                                data-wizard-type="action-next" [hidden]="isView ? !(currentStatus > nextStep) : false"
                                                (click)="buttonClick='next'">
                                                Next Step
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                            <hr *ngIf="!isEdit && !isView" />
                            <ng-container *ngIf="isEdit || isView">
                                <hr style="border-top: 2px solid;" />
                                <br />
                                <h3>Agreement Details</h3>
                                <br />
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="form-check-label font-style text-capitalize" for="conformsToDefault">
                                            conforms to default</label>
                                        <input class="form-check-input ml-4" type="checkbox" id="conformsToDefault"
                                            formControlName="conformsToDefault" (change)="conformsToDefaultChange()" *ngIf="!isView">
                                        <h6 style="font-weight: 100;" *ngIf="isView">{{duaData && duaData[0]?.conformsToDefault ? 'Yes' : 'No'}}</h6>
                                    </div>
                                    <div class="col-md-6" *ngIf="!showVariations">
                                        <label for="variations" class="font-style text-capitalize">variations</label>
                                        <textarea cols="30" rows="3" class="form-control" id="variations" formControlName="variations"
                                            *ngIf="!isView"></textarea>
                                        <h6 style="font-weight: 100;" *ngIf="isView">{{duaData ? duaData[0]?.variations : ''}}</h6>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="form-check-label font-style text-capitalize" for="repolsProxyProvider">
                                            repo is proxy provider</label>
                                        <input class="form-check-input ml-4" type="checkbox" id="repolsProxyProvider"
                                            formControlName="repoIsProxyProvider" *ngIf="!isView">
                                        <h6 style="font-weight: 100;" *ngIf="isView">{{duaData && duaData[0]?.repoIsProxyProvider ? 'Yes' : 'No'}}</h6>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label for="filePath" class="font-style text-capitalize">DTA file path</label>
                                        <input type="text" class="form-control" id="filePath" formControlName="duaFilePath" *ngIf="!isView">
                                        <h6 style="font-weight: 100;" *ngIf="isView">{{duaData ? duaData[0]?.duaFilePath : ''}}</h6>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label for="rsignatory1" class="font-style text-capitalize">Repository Signatory
                                            1</label>
                                        <ng-select id="rsignatory1" [items]="associatedUsers" formControlName="repoSignatory1" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.repoSignatory1?.id ? findPeopleById(duaData[0].repoSignatory1.id) : ''}}
                                        </h6>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="rsignatory2" class="font-style text-capitalize">Repository Signatory
                                            2</label>
                                        <ng-select id="rsignatory2" [items]="associatedUsers" formControlName="repoSignatory2" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.repoSignatory2?.id ? findPeopleById(duaData[0].repoSignatory2.id) : ''}}
                                        </h6>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label for="psignatory1" class="font-style text-capitalize">Provider Signatory
                                            1</label>
                                        <ng-select id="psignatory1" [items]="associatedUsers" formControlName="providerSignatory1" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.providerSignatory1?.id ? findPeopleById(duaData[0].providerSignatory1.id) : ''}}
                                        </h6>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="psignatory2" class="font-style text-capitalize">Provider Signatory
                                            2</label>
                                        <ng-select id="psignatory2" [items]="associatedUsers" formControlName="providerSignatory2" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.providerSignatory2?.id ? findPeopleById(duaData[0].providerSignatory2.id) : ''}}
                                        </h6>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label for="reqsignatory1" class="font-style text-capitalize">Requester Signatory
                                            1</label>
                                        <ng-select id="reqsignatory1" [items]="associatedUsers" formControlName="requesterSignatory1" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.requesterSignatory1?.id ? findPeopleById(duaData[0].requesterSignatory1.id) : ''}}
                                        </h6>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="reqsignatory2" class="font-style text-capitalize">Requester Signatory
                                            2</label>
                                        <ng-select id="reqsignatory2" [items]="associatedUsers" formControlName="requesterSignatory2" [multiple]="false" 
                                            [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchUsers"
                                            bindValue="id" [compareWith]="compareUsers" notFoundText="No person found" placeholder="" *ngIf="!isView">
                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.person?.firstName}} {{item.person?.lastName}}
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-8 col-8 p-0 m-0">
                                                        <div class="col-md-12">{{item.person?.firstName}} {{item.person?.lastName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.person?.email}}</div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <h6 style="font-weight: 100;" *ngIf="isView">
                                            {{duaData && duaData[0]?.requesterSignatory2?.id ? findPeopleById(duaData[0].requesterSignatory2.id) : ''}}
                                        </h6>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isEdit || isView">
                                <hr style="border-top: 2px solid;" />
                                <h3>Notes</h3>
                                <div formArrayName="notes">
                                    <div class="row form-group">
                                        <div class="col-md-12 text-right pb-2">
                                            <button class="btn btn-primary p-2" (click)="addDupNote()" *ngIf="!isView"><i class="fa fa-plus p-0"></i></button>
                                        </div>
                                        <div class="col-md-12" *ngFor="let note of notes().controls;let i = index" [formGroupName]="i">
                                            <div class="card border-0">
                                                <div class="card-body pl-0 pr-0 pb-0 pt-5">
                                                    <i class="fa fa-times float-right pr-1 text-danger" style="cursor: pointer;"
                                                        (click)="deleteDupNote(i)" *ngIf="!isView"></i>
                                                    <i class="fa fa-check float-right pr-2 text-success" style="cursor: pointer;"
                                                        (click)="saveDupNote(note)" *ngIf="!isView"></i>
                                                    <h6>{{(note.value.author?.firstName || note.value.author?.lastName ? 
                                                        (note.value.author?.firstName ? note.value.author.firstName + ' ' : '') 
                                                        + (note.value.author?.lastName ? note.value.author.lastName : '') : 'Missing author')}} <small>{{note.value.createdOn}}</small></h6>
                                                    <textarea id="notes" cols="30" rows="3" class="form-control" formControlName="text"
                                                        *ngIf="!isView"></textarea>
                                                    <span style="font-weight: 100;" *ngIf="isView">{{note.value.text}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div formArrayName="notes">
                                    <div class="row form-group">
                                        <div class="col-md-12 text-right pb-2"><button class="btn btn-primary p-2" (click)="addDupNote()"
                                                *ngIf="!isView"><i class="fa fa-plus p-0"></i></button></div>
                                        <div class="col-md-12" *ngFor="let note of notes().controls;let i = index" [formGroupName]="i">
                                            <div class="card border-0">
                                                <div class="card-body pl-0 pr-0 pb-0 pt-5">
                                                    <i class="fa fa-times float-right pr-1 text-danger" style="cursor: pointer;"
                                                        (click)="deleteDupNote(i)" *ngIf="!isView"></i>
                                                    <i class="fa fa-check float-right pr-2 text-success" style="cursor: pointer;"
                                                        (click)="saveDupNote(note)" *ngIf="!isView"></i>
                                                    <h6>{{findPeopleById(dupNotes[i]?.author)}} <small>{{dupNotes[i]?.createdOn | date}}</small></h6>
                                                    <textarea id="notes" cols="30" rows="3" class="form-control" formControlName="text"
                                                        *ngIf="!isView"></textarea>
                                                    <span style="font-weight: 100;" *ngIf="isView">
                                                        {{dupNotes[i]?.text}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </ng-container>
                            <hr />
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="setup">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <span class="font-style">Associated Studies</span>
                                <button class="btn btn-primary float-right" (click)="addStudy()" *ngIf="!isView">Add
                                    Study</button>
                                <ng-container *ngIf="associatedStudies.length <= 0">
                                    <p>No Associated Study</p>
                                </ng-container>
                                <ng-container *ngIf="associatedStudies.length > 0">
                                    <ul>
                                        <li *ngFor="let study of associatedStudies; let i = index" class="pl-4">
                                            <a [routerLink]="['/studies', study.study?.sdSid, 'view']">
                                                {{study.study?.sdSid}}
                                            </a>
                                            <span title="{{study.study?.displayTitle}}">({{(study.study?.displayTitle && study.study?.displayTitle.length <= sliceLength) ? study.study?.displayTitle : (study.study?.displayTitle | slice:0:sliceLength) + '...'}})</span>
                                            <i class="fa fa-times pl-3" (click)="removeDupStudy(study)"
                                                *ngIf="!isView"></i>
                                        </li>
                                    </ul>
                                </ng-container>
                                <br>
                                <hr>
                                <span class="font-style">Associated Data Objects</span>
                                <button class="btn btn-primary float-right" (click)="addDataObject()"
                                    *ngIf="!isView">Add Data Object</button>
                                <ng-container *ngIf="associatedObjects.length <= 0">
                                    <p>No Associated Data Object</p>
                                </ng-container>
                                <ng-container *ngIf="associatedObjects.length > 0">
                                    <ul>
                                        <li *ngFor="let object of associatedObjects; let i = index" class="pl-4">
                                            <a [routerLink]="['/data-objects', object.dataObject?.sdOid, 'view']">
                                                {{object.dataObject?.sdOid}}
                                            </a>
                                            <span title="{{object.dataObject?.displayTitle}}">({{(object.dataObject?.displayTitle && object.dataObject?.displayTitle.length <= sliceLength) ? object.dataObject?.displayTitle : (object.dataObject?.displayTitle | slice:0:sliceLength) + '...'}})</span>
                                            <i class="fa fa-times pl-3" (click)="removeDupObject(object.id)"
                                                *ngIf="!isView"></i>
                                            <ng-container *ngIf="prereqs[i]?.length > 0">
                                                <ul style="list-style-type: square;">
                                                    <li *ngFor="let prereq of prereqs[i]">
                                                        {{prereq.prereqType?.name ? prereq.prereqType.name : 'Unknown prerequisite type'}} 
                                                        <span title="{{prereq.prereqNotes}}">({{(prereq.prereqNotes?.length > sliceLength) ? ((prereq.prereqNotes | slice:0:sliceLength) + '...'): (prereq.prereqNotes)}})</span>
                                                    </li>
                                                </ul>
                                            </ng-container>
                                        </li>
                                    </ul>
                                </ng-container>
                                <br>
                                <hr>
                                <span class="font-style">Associated People</span>
                                <button class="btn btn-primary float-right" (click)="addUser()" *ngIf="!isView">Add
                                    People</button>
                                <ng-container *ngIf="associatedUsers.length <= 0">
                                    <p>No Associated Users</p>
                                </ng-container>
                                <ng-container *ngIf="associatedUsers.length > 0">
                                    <ul>
                                        <li *ngFor="let user of associatedUsers; let i = index" class="pl-4">
                                            <a [routerLink]="['/people', user.person?.id, 'view']">
                                                {{user.person?.firstName}} {{user.person?.lastName}}
                                            </a> ({{user.person?.email}})
                                            <i class="fa fa-times pl-3" (click)="removeDupUser(user.id)"
                                                *ngIf="!isView"></i>
                                        </li>
                                    </ul>
                                </ng-container>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />