<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
    </div>
    <div class="modal-body">
        <div class="row ml-3 form-group">
            <div class="col-md-12" *ngIf="type === 'study'" [formGroup]="studyForm">
                <label for="study" class="font-style text-capitalize">Study</label>
                <ng-select id="study" [items]="studyList" bindLabel="sdSid" bindValue="sdSid" formControlName="targetSdSid"
                [multiple]="true" [virtualScroll]="true" class="custom" notFoundText="No members found"
                    placeholder="Select study" [searchFn]="customSearchFn" (close)="studyDropdownClose()">
                    <ng-template ng-label-tmp let-item="item">
                        {{item.sdSid}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                        <div class="row m-0">
                            <div class="col-md-8 col-8 p-0 m-0">
                                <div class="col-md-12">{{item.sdSid}}</div>
                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row ml-3 form-group">
            <div class="col-md-12" *ngIf="type === 'study' || type === 'dataObject'" [formGroup]="objectForm">
                <label for="study" class="font-style text-capitalize">Object</label>
                <ng-select [items]="objectList" bindLabel="sdOid" bindValue="sdOid" formControlName="targetsdOid"
                [multiple]="true" [virtualScroll]="true" class="custom" notFoundText="No members found"
                    placeholder="Select object" [searchFn]="customSearchFn">
                    <ng-template ng-label-tmp let-item="item">
                        {{item.sdOid}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                        <div class="row m-0">
                            <div class="col-md-8 col-8 p-0 m-0">
                                <div class="col-md-12">{{item.sdOid}}</div>
                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row ml-3 form-group">
            <div class="col-md-12" *ngIf="type === 'user'" [formGroup]="userForm">
                <label for="study" class="font-style text-capitalize">People</label>
                <ng-select [items]="userList" bindLabel="id" bindValue="id" formControlName="targetPersonId"
                [multiple]="true" [virtualScroll]="true" class="custom" notFoundText="No members found"
                    placeholder="Select object" [searchFn]="customSearchUser">
                    <ng-template ng-label-tmp let-item="item">
                        {{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                        <div class="row m-0">
                            <div class="col-md-8 col-8 p-0 m-0">
                                <div class="col-md-12">{{item.name}}</div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Add</button>
        <button type="button" class="btn btn-danger" (click)="closeModal(null)">Cancel</button>

    </div>
</div>