<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectRight(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add Right
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectRights().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object rights yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectRights().length > 0">
        <div formArrayName="objectRights">
            <div class="row" *ngFor="let objectRight of objectRights().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectright'+i">
                    <mat-expansion-panel [expanded]="objectRight.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{objectRight.value.rightsName}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="rightsName" class="font-style text-capitalize">Rights name</label>
                                <input id="rightsName" type="text" class="form-control" placeholder="Usual common name or code for the rights to be applied"
                                    formControlName="rightsName" *ngIf="!isView">
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectRight.value.rightsName}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="rightsUri" class="font-style text-capitalize">Rights URL</label>
                                <input id="rightsUri" type="text" class="form-control" placeholder="Uri of a more detailed description of rights"
                                    formControlName="rightsUri" *ngIf="!isView">
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectRight.value.rightsUri}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="comments" class="font-style text-capitalize">Comments</label>
                                <textarea id="comments" cols="30" rows="5" placeholder="Any additional comments" class="form-control"
                                formControlName="comments" *ngIf="!isView"></textarea>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectRight.value.comments}}</h6>
                            </div>
                        </div>

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectRight.value.alreadyExist ? editRight(objectRight) : addRight(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectRight(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>