<div class="card">
    <div class="card-header">
        <h2>Data context</h2>
    </div>

    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Studies context">
                <app-studies-context></app-studies-context>
            </mat-tab>
            <mat-tab label="Data objects context">
                <app-object-context></app-object-context>
            </mat-tab>
            <mat-tab label="Suggest new context">
                <app-new-context></app-new-context>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<br />
