<!--begin::Advance Table Widget 9-->
<div class="card card-custom" [ngClass]="cssClass">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">Recent Studies</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">Showing the 10 most recently added studies, from a total of {{studyTotal}}.</span>
    </h3>
    <div class="card-toolbar">
      <!-- <a [routerLink]="['/studies', 'add']" target="_blank"
        class="btn btn-success font-weight-bolder font-size-sm mr-3">Add</a> -->
        <div class="btn-group pr-2">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/studies/add?type=usingTrialId" target="temptab">Using Trial Registry</a>
            <a class="dropdown-item" href="/studies/add?type=manual" target="temptab">Manually</a>
          </div>
        </div>
        <a [routerLink]="['/studies']" target="_blank" class="btn btn-info font-weight-bolder font-size-sm">See All</a>
    </div>
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3" style="height: 500px; overflow: auto;">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="sdSid">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a [routerLink]="['/studies', row.sdSid, 'view']" target="_blank">{{row.sdSid}} </a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"><a [routerLink]="['/studies', row.sdSid, 'view']" target="_blank">{{row.displayTitle}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.typeName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.statusName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/studies', row.sdSid, 'view']" target="temptab"
            class="btn btn-light-primary font-weight-bolder font-size-sm mr-3">View</a>
          <a [routerLink]="['/studies', row.sdSid, 'edit']" [queryParams]="{type: 'manual'}" target="temptab"
            class="btn btn-light-success font-weight-bolder font-size-sm">Edit</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 9-->