<div class="row pb-4" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center">
        <button class="btn btn-primary" (click)="addObjectTitle(); scrollToElement()">
            <i class="fa fa-plus"></i> Add Title
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectTitles().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object titles yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectTitles().length > 0">
        <div formArrayName="objectTitles">
            <div class="row" *ngFor="let objectTitle of objectTitles().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objecttitle'+i">
                    <mat-expansion-panel [expanded]="objectTitle.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{objectTitle.value.titleText}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="titleType" class="font-style text-capitalize">Title type</label>
                                <select id="titleType" class="form-control" formControlName="titleType"
                                    *ngIf="!isView">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]=title.id *ngFor="let title of titleType">{{title.name}}</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{findTitleType(objectTitle.value.titleType)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="langCode" class="font-style text-capitalize">Language</label>
                                <ng-select class="form-control" id="langCode" [items]="languageCodes" formControlName="langCode" appendTo="body"
                                    [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control" *ngIf="!isView" [searchFn]="customSearchLang">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.langNameEn}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        {{item.langNameEn}}
                                    </ng-template>
                                </ng-select>
                                <h6 class="text-value" *ngIf="isView">{{objectTitle.value.langCode?.langNameEn}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="titleText" class="font-style text-capitalize">Title text</label>
                                <textarea id="titleText" class="form-control" rows="4" placeholder="Enter a title for the object"
                                    formControlName="titleText" *ngIf="!isView"></textarea>
                                <h6 class="text-value" *ngIf="isView">{{objectTitle.value.titleText}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary"
                                (click)="objectTitle.value.alreadyExist ? editTitle(objectTitle) : addTitle(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectTitle(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>