<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectTitle(); scrollToElement()">
            <i class="fa fa-plus"></i> Add Title
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectTitles().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object titles yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectTitles().length > 0">
        <div formArrayName="objectTitles">
            <div class="row" *ngFor="let objectTitle of objectTitles().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objecttitle'+i">
                    <mat-expansion-panel [expanded]="objectTitle.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{objectTitle.value.titleText}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="titleTypeId" class="font-style text-capitalize">Title type</label>
                                <select id="titleTypeId" class="form-control" formControlName="titleTypeId"
                                    *ngIf="!isView">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]=title.id *ngFor="let title of titleType">{{title.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findTitleType(objectTitle.value.titleTypeId)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="titleText" class="font-style text-capitalize">Title text</label>
                                <input type="text" id="titleText" class="form-control"
                                    placeholder="Enter a parameter..." formControlName="titleText" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectTitle.value.titleText}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="langCode" class="font-style text-capitalize">Language code</label>
                                <select id="langCode" class="form-control" formControlName="langCode" *ngIf="!isView">
                                    <option disabled selected value=""></option>
                                    <option [value]="code.code" *ngFor="let code of languageCode">{{code.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectTitle.value.langCode}}</h6>
                            </div>
                            <!-- <div class="col-md-6">
                                <label for="comments" class="font-style text-capitalize">Comments</label>
                                <textarea id="comments" class="form-control" cols="30" rows="5"
                                    formControlName="comments" *ngIf="!isView"></textarea>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectTitle.value.comments}}</h6>
                            </div> -->
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary"
                                (click)="objectTitle.value.alreadyExist ? editTitle(objectTitle) : addTitle(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectTitle(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>