<div class="row">
    <div class="col-12">
        <select class="form-control" [(ngModel)]="filterOption" (change)="onChange()">
            <option selected value="all">All</option>
            <option value="objectClass">Object Class</option>
            <option value="objectType">Object Type</option>
            <option value="accessType">Access Type</option>
            <option value="keyType">Key Type</option>
            <option value="deidentificationType">Deidentification Type</option>
            <option value="consentType">Consent Type</option>
            <option value="resourceType">Resource Type</option>
            <option value="titleType">Title Type</option>
            <option value="dateType">Date Type</option>
            <option value="contributorType">Contributor Type</option>
            <option value="topicType">Topic Type</option>
            <option value="identifierType">Identifier Type</option>
            <option value="descritionType">Descrition Type</option>
            <option value="relationshipType">Relationship Type</option>
        </select>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
            <tr class="d-flex">
                <th class="col-3 text-center" scope="col">Name</th>
                <th class="col-9 text-center" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex" *ngFor="let item of list">
                <td class="col-3 ">
                    <strong>{{item.name}}</strong>
                </td>
                <td class="col-9">{{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
