<div class="card">
    <div class="card-header">
        <div class="row" [ngClass]="sticky ? '' : ''"  id="navbar">
            <div class="col-md-6">
                <h2>Data Objects</h2>
            </div>
            <div class="col-md-6 text-right" *ngIf="!isBrowsing && isOrgIdValid">
                <a [routerLink]="['/data-objects', 'add']" class="btn btn-success">
                    <i class="fa fa-plus"></i> New data object
                </a>    
            </div>
        </div>
    </div>
    <div id="permanentNavbar"></div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="filterColumn" (change)="filterSearch()">
                    <option selected disabled value="">Search by...</option>
                    <option [value]=searchColumn.value *ngFor="let searchColumn of searchColumns">
                        {{searchColumn.text}}</option>
                </select>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search data object..." [(ngModel)]="searchText" (keyup)="onInputChange($event)"/>
                </div>
            </div>
        </div>

        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="sdOid">
                <mat-header-cell *matHeaderCellDef>Study ID</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="isBrowsing ? ['/browsing/data-objects', row.sdOid, 'view'] : ['/data-objects', row.sdOid, 'view']">{{row.sdOid}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="objectTitle">
                <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="isBrowsing ? ['/browsing/data-objects', row.sdOid, 'view'] : ['/data-objects', row.sdOid, 'view']">{{row.displayTitle}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="objectOrganisation">
                <mat-header-cell *matHeaderCellDef>Organisation</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.organisation?.defaultName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="objectType">
                <mat-header-cell *matHeaderCellDef>Object Type</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.objectType?.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="access">
                <mat-header-cell *matHeaderCellDef>Access</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.accessType?.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="linkedStudy">
                <mat-header-cell *matHeaderCellDef>Linked study</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="isBrowsing ? ['/browsing/studies', row?.linkedStudy?.sdSid, 'view'] : ['/studies', row?.linkedStudy?.sdSid, 'view']">{{row.linkedStudy?.sdSid}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="isBrowsing ? ['/browsing/data-objects', row.sdOid, 'view'] : ['/data-objects', row.sdOid, 'view']">
                        <i class="fa fa-eye mr-4" style="color:#0688fa;"></i>
                    </a>
                    <a [routerLink]="['/data-objects', row.sdOid, 'edit']" *ngIf="!isBrowsing && (row.organisation?.id === orgId || isManager)">
                        <i class="fa fa-edit mr-4" style="color:#0688fa;"></i>
                    </a>
                    <i class="fa fa-trash mr-4" style="color:#f24437; cursor: pointer;" (click)="deleteRecord(row.id)" 
                        *ngIf="!isBrowsing && (row.organisation?.id === orgId || isManager)">

                    </i>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="objectLength" [pageSize]="25"></mat-paginator>
    </div>
</div>

<br />

<!-- Modal -->
<ng-template #objectDeleteModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Record</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <h6>{{title}}</h6>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </div>
</ng-template>