<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectDescription(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add Description
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectDescriptions().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object descriptions yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectDescriptions().length > 0">
        <div formArrayName="objectDescriptions">
            <div class="row" *ngFor="let objectDescription of objectDescriptions().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectdesc'+i">
                    <mat-expansion-panel [expanded]="objectDescription.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findDescriptionType(objectDescription.value.descriptionTypeId)}}:{{objectDescription.value.label}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="descriptionTypeId" class="font-style text-capitalize">Description type</label>
                                <select id="descriptionTypeId" class="form-control" *ngIf="!isView" formControlName="descriptionTypeId">
                                    <option disabled selected value="null">Please select the type of description</option>
                                    <option [value]=description.id *ngFor="let description of descriptionType">{{description.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findDescriptionType(objectDescription.value.descriptionTypeId)}}</h6>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="label" class="font-style text-capitalize">Description label</label>
                                <input id="label" type="text" class="form-control" placeholder="Please enter label (Can be used as a sub-header) a parameter..."
                                formControlName="label" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDescription.value.label}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="descriptionText" class="font-style text-capitalize">Description text</label>
                                <textarea id="descriptionText" cols="30" rows="5" placeholder="Please enter description"
                                    formControlName="descriptionText" class="form-control" *ngIf="!isView"></textarea>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDescription.value.descriptionText}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="langCode" class="font-style text-capitalize">Language code</label>
                                <select id="langCode" class="form-control" formControlName="langCode" *ngIf="!isView">
                                    <option disabled selected value=""></option>
                                    <option [value]="language.code" *ngFor="let language of languageCode">{{language.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDescription.value.langCode}}</h6>
                            </div>
                        </div>

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectDescription.value.alreadyExist ? editDescription(objectDescription) : addDescription(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectDescription(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>