<div class="row pb-4" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center">
        <button class="btn btn-primary" (click)="addStudyRelation(); scrollToElement()">
            <i class="fa fa-plus"></i>Add relationship
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="studyRelationships().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study relationships yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyRelationships().length > 0">
        <div formArrayName="studyRelationships">
            <div class="row" *ngFor="let studyRelation of studyRelationships().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'relpanel'+i">
                    <mat-expansion-panel [expanded]="studyRelation.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findRelationshipType(studyRelation.value.relationshipType)}}: {{studyRelation.value.targetStudy?.sdSid ? studyRelation.value.targetStudy.sdSid : ''}}
                        </mat-expansion-panel-header>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="relationshipType" class="font-style text-capitalize">Relationship type</label>
                                <select class="form-control" id="relationshipType" formControlName="relationshipType" *ngIf="!isView">
                                    <option disabled selected value="null">Please select relationship type</option>
                                    <option [value]="relationship.id" *ngFor="let relationship of relationshipType">{{relationship.name}}</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{findRelationshipType(studyRelation.value.relationshipType)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="targetStudy" class="font-style text-capitalize">Target study</label>
                                <ng-select [items]="studies" class="form-control ng-form-control" formControlName="targetStudy" appendTo="body" 
                                    [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control" *ngIf="!isView" [searchFn]="customSearchStudies"
                                    placeholder="Select target study" notFoundText="No studies found" [compareWith]="compareStudies">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.displayTitle}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        <div class="row m-0">
                                            <div class="col-md-8 col-8 p-0 m-0">
                                                <div class="col-md-12">{{item.displayTitle}}</div>
                                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.sdSid}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <h6 class="text-value" *ngIf="isView">
                                    <a *ngIf="isView" [routerLink]="isBrowsing ? ['/browsing/studies', studyRelation.value.targetStudy?.sdSid, 'view'] 
                                    : ['/studies', studyRelation.value.targetStudy?.sdSid, 'view']">{{studyRelation.value.targetStudy?.sdSid}}</a>
                                </h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyRelation.value.alreadyExist ? editRelationship(studyRelation) : addRelationship(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyRelation(i)">
                                Remove
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>