<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyRelation(); scrollToElement()">
            <i class="fa fa-plus"></i>Add relationship
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="studyRelationships().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study relationships yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyRelationships().length > 0">
        <div formArrayName="studyRelationships">
            <div class="row" *ngFor="let studyRelation of studyRelationships().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'relpanel'+i">
                    <mat-expansion-panel [expanded]="studyRelation.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findRelationshipType(studyRelation.value.relationshipTypeId)}}&nbsp;{{studyRelation.value.targetSdSid}}
                            <!-- ,&nbsp; {{findStudyTitle(studyRelation.value.targetSdSid)}} -->
                        </mat-expansion-panel-header>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="targetSdSid" class="font-style text-capitalize">Target study</label>
                                <ng-select [items]="studyType" bindLabel="sdSid" bindValue="sdSid" formControlName="targetSdSid"
                                [multiple]="false" [virtualScroll]="true" class="custom" notFoundText="No members found"
                                    placeholder="Select target study" *ngIf="!isView" [searchFn]="customSearchFn">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.sdSid}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        <div class="row m-0">
                                            <div class="col-md-8 col-8 p-0 m-0">
                                                <div class="col-md-12">{{item.sdSid}}</div>
                                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <!-- <input type="text" id="targetSdSid" class="form-control" formControlName="targetSdSid" *ngIf="!isView"/> -->
                                <h6 style="font-weight: 100;" *ngIf="isView">{{studyRelation.value.targetSdSid}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="relationshipTypeId" class="font-style text-capitalize">Relationship type</label>
                                <select class="form-control" id="relationshipTypeId" formControlName="relationshipTypeId" *ngIf="!isView">
                                    <option disabled selected value="null">Please select relationship type</option>
                                    <option [value]="relationship.id" *ngFor="let relationship of relationshipType">{{relationship.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findRelationshipType(studyRelation.value.relationshipTypeId)}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyRelation.value.alreadyExist ? editRelationship(studyRelation) : addRelationship(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyRelation(i)">
                                Remove
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>