<div class="row pb-4" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center">
        <button class="btn btn-primary" (click)="addStudyContributor(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add contributor
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="studyContributors().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study contributors yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyContributors().length > 0">
        <div formArrayName="studyContributors">
            <div class="row" *ngFor="let studyContributor of studyContributors().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'conpanel'+i">
                    <mat-expansion-panel [expanded]="studyContributor.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{ studyContributor.value?.contributorType?.name ? studyContributor.value.contributorType.name : ''}}:
                            {{ studyContributor.value.isIndividual ? studyContributor.value.person 
                                : studyContributor.value.organisation?.defaultName ? studyContributor.value.organisation.defaultName : '' }}
                        </mat-expansion-panel-header>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="isIndividual" class="font-style">Is an individual?</label>
                                <select class="form-control" id="isIndividual" formControlName="isIndividual"
                                    *ngIf="!isView" (change)="onChange(i)">
                                    <option selected disabled value="null">Select an option...</option>
                                    <option value=false>No</option>
                                    <option value=true>Yes</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{studyContributor.value.isIndividual ? 'Yes' : 'No'}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="contributorType" class="font-style text-capitalize">Contributor type</label>
                                <ng-select [items]="contributorTypes" formControlName="contributorType" placeholder="Please select the contributor type"
                                        appendTo="body" [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control" 
                                        notFoundText="No members found" [compareWith]="compareTypes" [searchFn]="customSearchTypes" *ngIf="!isView">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{ item.name }}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        <div class="row m-0">
                                            <div class="col-md-8 col-8 p-0 m-0">
                                                <div class="col-md-12">{{ item.name }}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                
                                <h6 class="text-value" *ngIf="isView">{{ studyContributor.value.contributorType?.name }}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div *ngIf="isIndividual[i] ? isIndividual[i] : ( studyContributor.value.isIndividual==='true' || studyContributor.value.isIndividual===true)">
                                    <label for="person" class="font-style text-capitalize">Person</label>
                                    <input type="text" id="person" class="form-control" placeholder="" formControlName="person" *ngIf="!isView"/>
                                    <h6 class="text-value" *ngIf="isView">{{studyContributor.value.person}}</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="organisationName" class="font-style text-capitalize">Organisation</label>
                                <ng-select [items]="organizationList" formControlName="organisation" [multiple]="false" [virtualScroll]="true" 
                                    class="form-control ng-form-control" notFoundText="No members found" placeholder="Please select organisation"
                                    appendTo="body" [compareWith]="compareOrganisations" *ngIf="!isView" [searchFn]="customSearchOrganisations">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.defaultName}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        {{item.defaultName}}
                                    </ng-template>
                                </ng-select>
                                <h6 class="text-value" *ngIf="isView">{{ studyContributor.value.organisation?.defaultName }}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button class="text-info" *ngIf="arrLength === i" (click)="sameAsAbove()">Same as
                                Above</button>
                            <button mat-button color="primary"
                                (click)="studyContributor.value.alreadyExist ? editContributor(studyContributor) : addContributor(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyContributor(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>