<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectIdentifier(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add Identifier
        </button>
    </div>
</div><form [formGroup]="form">
    <ng-template [ngIf]="objectIdentifiers().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object identifiers yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectIdentifiers().length > 0">
        <div formArrayName="objectIdentifiers">
            <div class="row" *ngFor="let objectIdentifier of objectIdentifiers().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectiden'+i">
                    <mat-expansion-panel [expanded]="objectIdentifier.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findIdentifierTyepe(objectIdentifier.value.identifierTypeId)}}:{{objectIdentifier.value.identifierValue}}
                        </mat-expansion-panel-header>


                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="identifierTypeId" class="font-style text-capitalize">Identifier type</label>
                                <select id="identifierTypeId" class="form-control" formControlName="identifierTypeId" *ngIf="!isView">
                                    <option disabled selected value="null">Please select the type</option>
                                    <option [value]=identifier.id *ngFor="let identifier of identifierType">{{identifier.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findIdentifierTyepe(objectIdentifier.value.identifierTypeId)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="identifierValue" class="font-style text-capitalize">Identifier value</label>
                                <input id="identifierValue" type="text" class="form-control" placeholder="Enter the identifier"
                                formControlName="identifierValue" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectIdentifier.value.identifierValue}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="identifierOrg" class="font-style text-capitalize">Identifier organisation</label>
                                <input id="identifierOrg" type="text" class="form-control" placeholder="Please enter organisation"
                                formControlName="identifierOrg" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectIdentifier.value.identifierOrg}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="identifierDate" class="font-style text-capitalize">Identifier date</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd"
                                            name="identifierDate" formControlName="identifierDate" ngbDatepicker
                                            #identifierDate="ngbDatepicker" container='body'>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="identifierDate.toggle()"
                                                type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{dateToString(objectIdentifier.value.identifierDate)}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectIdentifier.value.alreadyExist ? editIdentifier(objectIdentifier) : addIdentifier(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectIdentifier(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>