<div class="row pb-4" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center">
        <button class="btn btn-primary" (click)="addObjectRelation(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add Relation
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectRelationships().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object relationships yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectRelationships().length > 0">
        <div formArrayName="objectRelationships">
            <div class="row" *ngFor="let objectRelation of objectRelationships().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectrel'+i">
                    <mat-expansion-panel [expanded]="objectRelation.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findRelationType(objectRelation.value.relationshipType)}}: {{objectRelation.value.targetObject?.sdOid ? objectRelation.value.targetObject.sdOid : ''}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="relationshipType" class="font-style text-capitalize">Relationship type</label>
                                <select id="relationshipType" class="form-control" formControlName="relationshipType" *ngIf="!isView">
                                    <option disabled selected value="null">Please select the type of relationship</option>
                                    <option [value]=relationship.id *ngFor="let relationship of relationshipType">{{relationship.name}}</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{findRelationType(objectRelation.value.relationshipType)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="targetObject" class="font-style text-capitalize">Target data object</label>
                                <ng-select [items]="objectList" formControlName="targetObject" [compareWith]="compareDOs" [multiple]="false" 
                                    [virtualScroll]="true" class="form-control ng-form-control" notFoundText="No DOs found"
                                    appendTo="body" placeholder="Please select the related data object" [searchFn]="customSearchDOs" *ngIf="!isView">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.displayTitle}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        <div class="row m-0">
                                            <div class="col-md-8 col-8 p-0 m-0">
                                                <div class="col-md-12">{{item.displayTitle}}</div>
                                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.sdOid}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <h6 class="text-value" *ngIf="isView">
                                    <a *ngIf="isView" [routerLink]="isBrowsing ? ['/browsing/data-objects', objectRelation.value.targetObject?.sdOid, 'view'] 
                                    : ['/data-objects', objectRelation.value.targetObject?.sdOid, 'view']">{{objectRelation.value.targetObject?.sdOid}}</a>
                                </h6>
                            </div>
                        </div>

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectRelation.value.alreadyExist ? editRelation(objectRelation) : addRelation(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectRelation(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>