<div class="card">
    <div class="card-header">
        <div class="row" id="navbar" [ngClass]="isBrowsing? 'browsing-header' : ''">
            <div [ngClass]="isEdit ? 'col-md-11' : 'col-md-4'">
                <h2>{{ isView ? 'Data Object Details' : isEdit ? 'Editing Data Object Details' : 'Add new data object'}}</h2>
            </div>
            <div [ngClass]="isEdit ? 'col-md-1' : 'col-md-8'" class ="text-right">
                <ng-container *ngIf="isView && !isBrowsing">
                    <a [routerLink]="['/data-objects', id, 'edit']" class="btn btn-primary mr-1" target="tempTab">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <button class="btn btn-primary mr-1" (click)="printPdf()">
                        <i class="fa fa-print"></i> PDF
                    </button>
                    <button class="btn btn-primary mr-1" (click)="jsonExport()">
                        <i class="fa fa-code"></i> JSON
                    </button>
                    <button class="btn btn-warning" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </ng-container>
                <ng-container *ngIf="isView && isBrowsing">
                    <button class="btn btn-warning" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </ng-container>
            </div>
            <div class="pl-5">
                <h6>{{objectData?.coreObject?.displayTitle}}</h6>
            </div>    
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="objectForm">
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="studyId" class="font-style text-capitalize">parent study</label>
                    <ng-select id="study" [items]="studyList" bindLabel="sdSid" bindValue="sdSid" formControlName="SdSid"
                    [multiple]="false" [virtualScroll]="true" class="custom" notFoundText="No study found"
                        placeholder="Please select parent study" [searchFn]="customSearchFn" *ngIf="isAdd"  [ngClass]="{ 'is-invalid': isSubmitted && g.SdSid.errors }">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.sdSid}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="row m-0">
                                <div class="col-md-8 col-8 p-0 m-0">
                                    <div class="col-md-12">{{item.sdSid}}</div>
                                    <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <br *ngIf="isView || isEdit">
                    <a href="javascript:void(0)" (click)="goToParentStudy(objectData?.coreObject?.sdSid)" *ngIf="isView || isEdit" style="cursor: pointer;">{{findStudyById(objectData?.coreObject?.sdSid)}}</a>
                    <div class="col-md-12 invalid-feedback" *ngIf="isSubmitted && g.SdSid.errors">
                        <p *ngIf="isSubmitted && g.SdSid.errors.required"> Please enter parent study ID</p>
                    </div>  
                </div>
            </div>
            <div class="row form-group" *ngIf="!isView">
                <div class="col-md-12">
                    <label for="displayTitle" class="font-style text-capitalize">title</label>
                    <textarea id="displayTitle" cols="30" rows="3" class="form-control" placeholder="Please enter a good mnemonic reference for your data object"
                    formControlName="displayTitle" *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.displayTitle.errors }"></textarea>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.displayTitle}}</h6>
                    <div class="col-md-12 invalid-feedback" *ngIf="isSubmitted && g.displayTitle.errors">
                        <p *ngIf="isSubmitted && g.displayTitle.errors.required"> Please enter Object title</p>
                    </div>  
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="objectClassId" class="font-style text-capitalize">Object class</label>
                    <select id="objectClassId" class="form-control" formControlName="objectClassId" *ngIf="!isView" (change)="onChange()">
                        <option selected disabled value="null">Please select object class</option>
                        <option [value]=class.id *ngFor="let class of objectClass">{{class.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findObjectClass(objectData?.coreObject?.objectClassId)}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="objectTypeId" class="font-style text-capitalize">Object type</label>
                    <select id="objectTypeId" class="form-control" formControlName="objectTypeId" *ngIf="!isView" (change)="onTypeChange()" [ngClass]="{ 'is-invalid': isSubmitted && g.objectTypeId.errors }">
                        <option selected disabled value="null">Please select object type</option>
                        <option [value]=type.id *ngFor="let type of objectType">{{type.name}}</option>
                    </select>
                    <div class="col-md-12 invalid-feedback" *ngIf="isSubmitted && g.objectTypeId.errors">
                        <p *ngIf="isSubmitted && g.objectTypeId.errors.required"> Please enter the data object type</p>
                    </div>  
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findobjectType(objectData?.coreObject?.objectTypeId)}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="doi" class="font-style text-capitalize">DOI</label>
                    <input id="doi" type="text" class="form-control" placeholder="Enter the relevant Digital Object Identifier" formControlName="doi"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView"><a [href]='"https://scholar.google.fr/scholar?q="+objectData?.coreObject?.doi' target="_blank">{{objectData?.coreObject?.doi}}</a> </h6>
                </div>
                <div class="col-md-6">
                    <label for="version" class="font-style text-capitalize">Version</label>
                    <input type="text" id="version" class="form-control" placeholder="Enter version" formControlName="version"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.version}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="publicationYear" class="font-style text-capitalize">Publication year</label>
                    <p-calendar appendTo="body" id="publicationYear" formControlName="publicationYear" view="year" dateFormat="yy" *ngIf="!isView" placeholder="Enter publication year"></p-calendar>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.publicationYear}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="langCode" class="font-style text-capitalize">Language</label>
                    <select id="langCode" class="form-control" formControlName="langCode" *ngIf="!isView">
                        <option selected disabled value="null">Please select language</option>
                        <option [value]="language.code" *ngFor="let language of languageCode">{{language.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.langCode}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="managingOrg" class="font-style text-capitalize">Managing organisation</label>
                    <input id="managingOrg" type="text" class="form-control" placeholder="Enter managing organisation"
                        formControlName="managingOrg" *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.managingOrg}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="accessTypeId" class="font-style text-capitalize">Access type</label>
                    <select id="accessTypeId" class="form-control" formControlName="accessTypeId" *ngIf="!isView" (change)="onChangeAccessType()">
                        <option selected disabled value="null">Please select type of access </option>
                        <option [value]=access.id *ngFor="let access of accessType">{{access.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findAccessType(objectData?.coreObject?.accessTypeId)}}</h6>
                </div>
            </div>
            <hr />
            <div class="row" *ngIf = "showAccessDetails">
                <div class="col-md-12 text-center">
                    <h6 style="font-weight: 100;" class="pt-3 font-style">Access Details</h6>
                </div>
            </div>
            <br />
            <div class="row form-group" *ngIf = "showAccessDetails">
                <div class="col-md-6">
                    <label for="accessDetails" class="font-style text-capitalize">Description</label>
                    <textarea id="accessDetails" class="form-control" cols="30" rows="5" placeholder="Enter description"
                        formControlName="accessDetails" *ngIf="!isView"></textarea>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.accessDetails ? objectData?.coreObject?.accessDetails : 'None'}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="accessDetailsUrl" class="font-style text-capitalize">URL</label>
                    <input id="accessDetailsUrl" type="text" class="form-control" placeholder="https://www.example.org/mydata"
                        formControlName="accessDetailsUrl" *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.coreObject?.accessDetailsUrl ? objectData?.coreObject?.accessDetailsUrl : 'None'}}</h6>
                </div>
            </div>
            <hr />
            <div formGroupName="objectDatasets" *ngIf="showDatasetKey">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset record keys</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="recordKeysTypeId" class="font-style text-capitalize">Keys type</label>
                        <select id="recordKeysTypeId" class="form-control" formControlName="recordKeysTypeId" *ngIf="!isView">
                            <option selected disabled value="null">Please select deidentification level</option>
                            <option [value]=key.id *ngFor="let key of keyType">{{key.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findKeyType(objectData?.objectDatasets[0]?.recordKeysTypeId)}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="recordKeysDetails" class="font-style text-capitalize">Keys details</label>
                        <textarea id="recordKeysDetails" class="form-control" cols="30" rows="5" placeholder="Please enter a short summary of the justification for the classification given"
                            formControlName="recordKeysDetails" *ngIf="!isView"></textarea>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.recordKeysDetails ? objectData?.objectDatasets[0]?.recordKeysDetails : 'None'}}</h6>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset deidentification level</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="deidentTypeId" class="font-style text-capitalize"> Type</label>
                        <!-- <i class="fa fa-info-circle pl-1"></i> -->
                        <select id="deidentTypeId" class="form-control" formControlName="deidentTypeId" *ngIf="!isView">
                            <option selected disabled value="null">Please select deidentification type</option>
                            <option [value]=identification.id *ngFor="let identification of deidentificationType">
                                {{identification.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findDeidentificationType(objectData?.objectDatasets[0]?.deidentTypeId)}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentDirect">Direct ID's</label>
                        <i class="fa fa-info-circle pl-1" title="If direct identifiers have been removed or not"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentDirect" formControlName="deidentDirect" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDirect ? objectData?.objectDatasets[0]?.deidentDirect : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentHipaa">HIPAA Applied</label>
                        <i class="fa fa-info-circle pl-1" title="If HIPAA rules have been followed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentHipaa" formControlName="deidentHipaa" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentHipaa ? objectData?.objectDatasets[0]?.deidentHipaa : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentDates">Dates Rebased</label>
                        <i class="fa fa-info-circle pl-1" title="If dates have been rebased or turned into day numbers"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentDates" formControlName="deidentDates" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDates ? objectData?.objectDatasets[0]?.deidentDates : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentNonarr">No Narrative</label>
                        <i class="fa fa-info-circle pl-1" title="If narrative fields have been removed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentNonarr" formControlName="deidentNonarr" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentNonarr ? objectData?.objectDatasets[0]?.deidentNonarr : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentKanon">KANON Applied</label>
                        <i class="fa fa-info-circle pl-1" title="If k-anonymisation is claimed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentKanon" formControlName="deidentKanon" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentKanon ? objectData?.objectDatasets[0]?.deidentKanon : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentDetails" class="font-style text-capitalize">Details</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <textarea id="deidentDetails" class="form-control" cols="30" rows="5" placeholder="Enter details"
                            formControlName="deidentDetails" *ngIf="!isView"></textarea>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDetails}}</h6>
                    </div>
                </div>


                <hr />

                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset consent</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="consentTypeId" class="font-style text-capitalize">Type</label>
                        <!-- <i class="fa fa-info-circle pl-1"></i> -->
                        <select id="consentTypeId" class="form-control" formControlName="consentTypeId" *ngIf="!isView">
                            <option selected disabled value="null">Please select consent type</option>
                            <option [value]=consent.id *ngFor="let consent of consentType">{{consent.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findConsentType(objectData?.objectDatasets[0]?.consentTypeId)}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentNoncommercial">Noncommercial only</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentNoncommercial" formControlName="consentNoncommercial" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentNoncommercial ? objectData?.objectDatasets[0]?.consentNoncommercial : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentGeogRestrict">Geographic restrictions</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentGeogRestrict" formControlName="consentGeogRestrict" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentGeogRestrict ? objectData?.objectDatasets[0]?.consentGeogRestrict : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentResearchType">Research type related</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentResearchType" formControlName="consentResearchType" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentResearchType ? objectData?.objectDatasets[0]?.consentResearchType : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentGeneticOnly">Genetic research only</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentGeneticOnly" formControlName="consentGeneticOnly" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentGeneticOnly ? objectData?.objectDatasets[0]?.consentGeneticOnly : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentNoMethods">No methods</label>
                        <i class="fa fa-info-circle pl-1" title="If re-use for algorithmic development is permitted"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentNoMethods" formControlName="consentNoMethods" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentNoMethods ? objectData?.objectDatasets[0]?.consentNoMethods : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentDetails" class="font-style text-capitalize">Details</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <textarea id="consentDetails" class="form-control" cols="30" rows="5" placeholder="Enter detail"
                            formControlName="consentDetails" *ngIf="!isView"></textarea>
                        <h6  style="font-weight: 100;"*ngIf="isView">{{objectData?.objectDatasets[0]?.consentDetails}}</h6>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" *ngIf="!isView">
                <div class="col-md-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5" (click)="onSave()">{{isEdit ? 'Apply Changes'
                        : 'Save'}}</button>
                    <button class="btn btn-warning" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </div>
            </div>
            <hr>
            <ng-container *ngIf="isEdit || isView">
                <mat-expansion-panel [expanded]="objectData?.objectIdentifiers.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object instance(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-instance [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-instance>
                </mat-expansion-panel>            
                <hr />
                <mat-expansion-panel [expanded]="objectData?.objectTitles.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object title(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-title [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-title>
                </mat-expansion-panel>
                <hr />
                <mat-expansion-panel [expanded]="objectData?.objectDates.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object date(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-date [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-date>
                </mat-expansion-panel>
                <hr />
                <ng-container *ngIf="showTopic">
                    <mat-expansion-panel [expanded]="objectData?.objectIdentifiers.length > 0 ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object contributor(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-contributor [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-contributor>
                    </mat-expansion-panel>
                    <hr />
                </ng-container>
                <ng-container *ngIf="showTopic">
                    <mat-expansion-panel [expanded]="objectData?.objectTopics.length > 0 ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object topic(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-topic [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-topic>
                    </mat-expansion-panel>
                    <hr />
                </ng-container>
                <mat-expansion-panel [expanded]="objectData?.objectIdentifiers.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object identifier(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-identifier [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-identifier>
                </mat-expansion-panel>        
                <hr />
                <mat-expansion-panel [expanded]="objectData?.objectDescriptions.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object descriptions(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-description [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-description>
                </mat-expansion-panel>
                <hr />
                <mat-expansion-panel [expanded]="objectData?.objectRights.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object right(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-right [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-right>
                </mat-expansion-panel>
                <hr />
                <mat-expansion-panel [expanded]="objectData?.objectRelationships.length > 0 ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Object relationship(s)</h6>
                    </mat-expansion-panel-header>
                    <app-object-relationship [sdOid]="id" [isView]="isView" [isEdit]="isEdit"></app-object-relationship>
                </mat-expansion-panel>
                <hr />
            </ng-container>

        </form>
    </div>
</div>

<br />