<div class="card">
    <div class="card-header">
        <div id="navbar" [ngClass]="isBrowsing? 'browsing-header' : ''">
            <div class="row upsert-navbar">
                <div class="col-md-4">
                    <h2 class="text-capitalize">{{ isView ? 'Data Object Details' : isEdit ? 'Editing Data Object Details' : 'Add new data object'}}</h2>
                </div>
                <div class="col-md-8 text-right">
                    <ng-container *ngIf="isView">
                        <ng-container *ngIf="showEdit || isManager">
                            <a [routerLink]="['/data-objects', sdOid, 'edit']" class="btn btn-primary mr-1">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </ng-container>
                        <button class="btn btn-primary mr-1" (click)="printPdf()">
                            <i class="fa fa-print"></i> PDF
                        </button>
                        <button class="btn btn-primary mr-1" (click)="jsonExport()">
                            <i class="fa fa-code"></i> JSON
                        </button>
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </ng-container>
                    <ng-container *ngIf="!isView">
                        <button class="btn btn-success mr-5" (click)="onSave()">{{isEdit ? 'Apply Changes' : 'Save'}}</button>
                        <button class="btn btn-warning" (click)="back()">Cancel</button>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-5">
                <div class="pl-5">
                    <h6>{{objectData?.displayTitle}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="objectForm">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="objectId" class="font-style text-capitalize">data object id</label>
                    <h6 id="objectId" style="font-weight: 100;">{{sdOid}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8">
                    <label for="study" class="font-style text-capitalize">parent study<sup>*</sup></label>
                    <ng-select id="study" [items]="studyList" formControlName="linkedStudy"
                    [compareWith]="compareStudies" [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control"
                    notFoundText="No study found" placeholder="Please select parent study" [searchFn]="customSearchStudies" 
                    *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.linkedStudy.errors }" (change)="onChangeParentStudy()">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.sdSid}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="row m-0">
                                <div class="col-md-8 col-8 p-0 m-0">
                                    <div class="col-md-12">{{item.sdSid}}</div>
                                    <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.linkedStudy.errors">
                        <p *ngIf="isSubmitted && g.linkedStudy.errors.required">Please select a parent study</p>
                    </div>
                    <ng-container *ngIf="isView">
                        <ng-container *ngIf="objectData?.linkedStudy; else noLinkedStudy">
                            <a href="javascript:void(0)" (click)="goToParentStudy(objectData?.linkedStudy?.sdSid)" style="cursor: pointer;">
                                <h6 style="font-weight: 100;">{{objectData?.linkedStudy ? objectData?.linkedStudy?.sdSid : 'None'}}</h6>
                            </a>
                        </ng-container>
                        <ng-template #noLinkedStudy>
                            <h6 style="font-weight: 100;">{{objectData?.linkedStudy ? objectData?.linkedStudy?.sdSid : 'None'}}</h6>
                        </ng-template>
                    </ng-container>
                    <br *ngIf="isView || isEdit">
                </div>
                <div class="col-md-4">
                    <label for="organisationName" class="font-style text-capitalize">Organisation<sup>*</sup></label>
                    <h6 id="organisationName" style="font-weight: 100;">{{organisationName ? organisationName : isView ? '' : 'Select parent study to update organisation'}}</h6>
                </div>
            </div>
            <div class="row form-group" *ngIf="!isView">
                <div class="col-md-12">
                    <label for="displayTitle" class="font-style text-capitalize">title<sup>*</sup></label>
                    <textarea id="displayTitle" cols="30" rows="3" class="form-control" placeholder="Please enter a good mnemonic reference for your data object"
                    formControlName="displayTitle" *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.displayTitle.errors }"></textarea>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.displayTitle}}</h6>
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.displayTitle.errors">
                        <p *ngIf="isSubmitted && g.displayTitle.errors.required">Please enter a title for the Data Object</p>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="objectClass" class="font-style text-capitalize">Object class</label>
                    <select id="objectClass" class="form-control" formControlName="objectClass" *ngIf="!isView" (change)="onChange()">
                        <option selected disabled value="null">Please select object class</option>
                        <option [value]=class.id *ngFor="let class of objectClasses">{{class.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectClass ? objectData?.objectClass.name : 'None'}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="objectType" class="font-style text-capitalize">Object type</label>
                    <ng-select id="objectType" [items]="objectTypes" formControlName="objectType" [compareWith]="compareObjectTypes" 
                    [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control" [searchFn]="customSearchObjectTypes"
                    notFoundText="No object type found" placeholder="Please select the object type"
                    *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.objectType.errors }" (change)="onTypeChange()">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.name}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="row m-0">
                                <div class="col-md-8 col-8 p-0 m-0">
                                    <div class="col-md-12">{{item.name}}</div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.objectType.errors">
                        <p *ngIf="isSubmitted && g.objectType.errors.required"> Please enter the data object type</p>
                    </div>  
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectType ? objectData?.objectType.name : 'None'}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="doi" class="font-style text-capitalize">DOI</label>
                    <input id="doi" type="text" class="form-control" placeholder="Enter the relevant Digital Object Identifier" formControlName="doi"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView"><a [href]='"https://doi.org/"+objectData?.doi' target="_blank">{{objectData?.doi}}</a></h6>
                </div>
                <div class="col-md-6">
                    <label for="version" class="font-style text-capitalize">Version</label>
                    <input type="text" id="version" class="form-control" placeholder="Enter version" formControlName="version"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.version}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="publicationYear" class="font-style text-capitalize">Publication year</label>
                    <p-calendar class="calendar" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" id="publicationYear" formControlName="publicationYear" view="year" dateFormat="yy" *ngIf="!isView" placeholder="Enter publication year"></p-calendar>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.publicationYear}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="langCode" class="font-style text-capitalize">Language</label>
                    <select id="langCode" class="form-control" formControlName="langCode" *ngIf="!isView">
                        <option selected disabled value="null">Please select language</option>
                        <option [value]="language.id" *ngFor="let language of languageCodes">{{language.langNameEn}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.langCode ? objectData?.langCode.langNameEn : 'None'}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 style="font-weight: 100;" class="pt-3 font-style">Access Info</h6>
                </div>
            </div>
            <br />
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="accessType" class="font-style text-capitalize">Access type<sup>*</sup></label>
                    <ng-select id="accessType" [items]="accessTypes" formControlName="accessType" [compareWith]="compareAccessTypes" 
                    [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control"
                    notFoundText="No access type found" placeholder="Please select the data access type"
                    *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.accessType.errors }" (change)="setControlled()">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.name}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="row m-0">
                                <div class="col-md-8 col-8 p-0 m-0">
                                    <div class="col-md-12">{{item.name}}</div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.accessType ? objectData?.accessType.name : 'None'}}</h6>
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.accessType.errors">
                        <p *ngIf="isSubmitted && g.accessType.errors">Please select the type of access to the data</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="embargoExpiry" class="font-style text-capitalize">Embargo expiry date</label>
                    <div class="input-group" *ngIf="!isView">
                        <input class="form-control" placeholder="Leave empty if no embargo"
                            name="embargoExpiry" ngbDatepicker #embargoExpiry="ngbDatepicker"
                            [ngClass]="{ 'is-invalid': isSubmitted && g.embargoExpiry.errors }" [minDate]="minEmbargoDate"
                            (click)="embargoExpiry.toggle()" formControlName="embargoExpiry" container='body'>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                (click)="embargoExpiry.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.embargoExpiry ? viewDate(objectData?.embargoExpiry) : 'No embargo'}}</h6>
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.embargoExpiry.errors">
                        <p *ngIf="isSubmitted && g.embargoExpiry.errors">Please enter a valid date (date must be greater than today's date)</p>
                    </div>
                </div>
            </div>
            <hr *ngIf="isEdit || isView"/>
            <div formGroupName="objectDatasets" *ngIf="showDatasetKey">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset anonymisation status</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="recordkeyType" class="font-style text-capitalize">Anonymisation type<sup>*</sup></label>
                        <select id="recordkeyType" class="form-control" formControlName="recordkeyType" *ngIf="!isView"
                            [ngClass]="{ 'is-invalid': isSubmitted && objectDatasetsControls.recordkeyType.errors }">
                            <option selected disabled value="null">Please select anonymisation level</option>
                            <option [value]=key.id *ngFor="let key of keyTypes">{{key.name}}</option>
                        </select>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && objectDatasetsControls.recordkeyType.errors">
                            <p *ngIf="isSubmitted && objectDatasetsControls.recordkeyType.errors.required">Please select anonymisation type</p>
                        </div>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0] ? objectData?.objectDatasets[0]?.recordkeyType ? objectData?.objectDatasets[0]?.recordkeyType.name : 'None' : 'None'}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="recordkeyDetails" class="font-style text-capitalize">Anonymisation details<sup>*</sup></label>
                        <textarea id="recordkeyDetails" class="form-control" cols="30" rows="5" placeholder="Please enter a short summary of the justification for the classification given"
                            formControlName="recordkeyDetails" *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && objectDatasetsControls.recordkeyDetails.errors }"></textarea>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && objectDatasetsControls.recordkeyDetails.errors">
                            <p *ngIf="isSubmitted && objectDatasetsControls.recordkeyDetails.errors.required">Please enter the details of the anonymisation</p>
                        </div>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.recordkeyDetails ? objectData?.objectDatasets[0]?.recordkeyDetails : 'None'}}</h6>
                    </div>
                </div>
                <hr />

                <!-- <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset deidentification level</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="deidentType" class="font-style text-capitalize"> Type</label>
                        <select id="deidentType" class="form-control" formControlName="deidentType" *ngIf="!isView">
                            <option selected disabled value="null">Please select deidentification type</option>
                            <option [value]=identification.id *ngFor="let identification of deidentificationTypes">
                                {{identification.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0] ? objectData?.objectDatasets[0]?.deidentType ? objectData?.objectDatasets[0]?.deidentType.name : 'None' : 'None'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentDirect">Direct ID's</label>
                        <i class="fa fa-info-circle pl-1" title="If direct identifiers have been removed or not"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentDirect" formControlName="deidentDirect" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDirect ? objectData?.objectDatasets[0]?.deidentDirect : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentHipaa">HIPAA Applied</label>
                        <i class="fa fa-info-circle pl-1" title="If HIPAA rules have been followed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentHipaa" formControlName="deidentHipaa" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentHipaa ? objectData?.objectDatasets[0]?.deidentHipaa : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentDates">Dates Rebased</label>
                        <i class="fa fa-info-circle pl-1" title="If dates have been rebased or turned into day numbers"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentDates" formControlName="deidentDates" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDates ? objectData?.objectDatasets[0]?.deidentDates : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentNonarr">No Narrative</label>
                        <i class="fa fa-info-circle pl-1" title="If narrative fields have been removed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentNonarr" formControlName="deidentNonarr" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentNonarr ? objectData?.objectDatasets[0]?.deidentNonarr : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="deidentKanon">KANON Applied</label>
                        <i class="fa fa-info-circle pl-1" title="If k-anonymisation is claimed"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="deidentKanon" formControlName="deidentKanon" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentKanon ? objectData?.objectDatasets[0]?.deidentKanon : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentDetails" class="font-style text-capitalize">Details</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <textarea id="deidentDetails" class="form-control" cols="30" rows="5" placeholder="Enter details"
                            formControlName="deidentDetails" *ngIf="!isView"></textarea>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.deidentDetails}}</h6>
                    </div>
                </div>


                <hr /> -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset consent</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="consentType" class="font-style text-capitalize">Type</label>
                        <!-- <i class="fa fa-info-circle pl-1"></i> -->
                        <select id="consentType" class="form-control" formControlName="consentType" *ngIf="!isView">
                            <option selected disabled value="null">Please select consent type</option>
                            <option [value]=consent.id *ngFor="let consent of consentTypes">{{consent.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0] ? objectData?.objectDatasets[0]?.consentType ? objectData?.objectDatasets[0]?.consentType.name : 'None' : 'None'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentNoncommercial">Noncommercial only</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentNoncommercial" formControlName="consentNoncommercial" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentNoncommercial ? objectData?.objectDatasets[0]?.consentNoncommercial : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentGeogRestrict">Geographic restrictions</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentGeogRestrict" formControlName="consentGeogRestrict" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentGeogRestrict ? objectData?.objectDatasets[0]?.consentGeogRestrict : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentResearchType">Research type related</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentResearchType" formControlName="consentResearchType" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentResearchType ? objectData?.objectDatasets[0]?.consentResearchType : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentGeneticOnly">Genetic research only</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentGeneticOnly" formControlName="consentGeneticOnly" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentGeneticOnly ? objectData?.objectDatasets[0]?.consentGeneticOnly : 'False'}}</h6>
                    </div>
                    <div class="col-md-4 form-check m-auto">
                        <label class="form-check-label font-style text-capitalize" for="consentNoMethods">No methods</label>
                        <i class="fa fa-info-circle pl-1" title="If re-use for algorithmic development is permitted"></i>
                        <input class="form-check-input ml-4" type="checkbox" id="consentNoMethods" formControlName="consentNoMethods" *ngIf="!isView">
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData?.objectDatasets[0]?.consentNoMethods ? objectData?.objectDatasets[0]?.consentNoMethods : 'False'}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentDetails" class="font-style text-capitalize">Details</label>
                        <i class="fa fa-info-circle pl-1"></i>
                        <textarea id="consentDetails" class="form-control" cols="30" rows="5" placeholder="Enter detail"
                            formControlName="consentDetails" *ngIf="!isView"></textarea>
                        <h6  style="font-weight: 100;"*ngIf="isView">{{objectData?.objectDatasets[0]?.consentDetails}}</h6>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="isEdit || isView">
                <hr [ngClass]="{'hr-big': isEdit}"/>
                <div class="mt-12">
                    <mat-expansion-panel [expanded]="objectData?.objectInstances?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectInstances?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object instance(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-instance [objectId]="id" [sdOid]="sdOid" [totalInstances]="totalInstances" 
                            [controlled]="controlled" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-instance>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="objectData?.objectTitles?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectTitles?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object title(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-title [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-title>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="objectData?.objectDates?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectDates?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object date(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-date [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-date>
                    </mat-expansion-panel>
                    <hr />
                    <ng-container *ngIf="showTopic">
                        <mat-expansion-panel [expanded]="objectData?.objectContributors?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectContributors?.length === 0) ? true : false">
                            <mat-expansion-panel-header>
                                <h6 class="pt-3 font-style">Object contributor(s)</h6>
                            </mat-expansion-panel-header>
                            <app-object-contributor [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-contributor>
                        </mat-expansion-panel>
                        <hr />
                    </ng-container>
                    <ng-container *ngIf="showTopic">
                        <mat-expansion-panel [expanded]="objectData?.objectTopics?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectTopics?.length === 0) ? true : false">
                            <mat-expansion-panel-header>
                                <h6 class="pt-3 font-style">Object topic(s)</h6>
                            </mat-expansion-panel-header>
                            <app-object-topic [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-topic>
                        </mat-expansion-panel>
                        <hr />
                    </ng-container>
                    <mat-expansion-panel [expanded]="objectData?.objectIdentifiers?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectIdentifiers?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object identifier(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-identifier [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-identifier>
                    </mat-expansion-panel>        
                    <hr />
                    <mat-expansion-panel [expanded]="objectData?.objectDescriptions?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectDescriptions?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object descriptions(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-description [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-description>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="objectData?.objectRights?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectRights?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object right(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-right [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-right>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="objectData?.objectRelationships?.length > 0 ? true : false" [disabled]="(isView && objectData?.objectRelationships?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Object relationship(s)</h6>
                        </mat-expansion-panel-header>
                        <app-object-relationship [objectId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-object-relationship>
                    </mat-expansion-panel>
                    <hr />
                </div>
            </ng-container>
        </form>
    </div>
</div>

<br />