<form>
    <div class="row">
        <div class="col-4">
            <h6 class="pt-4">Object type</h6>
        </div>
        <div class="col-8">
            <select class="form-control">
                <option selected disabled value="">Select an option...</option>
                <option value="">Study</option>
                <option value="">Data object</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <h6 class="pt-4">Context category</h6>
        </div>
        <div class="col-8">
            <select class="form-control">
                <option selected disabled value="">Select an option...</option>
                <option value="">Study type</option>
                <option value="">Study status</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <h6 class="pt-4">New context name</h6>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Enter a name...">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <h6>Description of a new context</h6>
        </div>
        <div class="col-8">
            <textarea
               cols="30" rows="10" class="form-control"
               placeholder="Description"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <h6>Comments</h6>
        </div>
        <div class="col-8">
            <textarea
                    cols="30" rows="10" class="form-control"
                    placeholder="Comments"></textarea>
        </div>
    </div>
</form>
