<div id="auth-container">
  <header>
    <div class="row hop">
      <div class="col-4 pl-10 pt-5 hop">
        <div class="dropdown show mt-auto">
          <i class="fas fa-align-justify dropdown-toggle" style="cursor: pointer; font-size: 25px;" aria-hidden="true"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToAbout()">About</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToUserGuide()">User Guide</a>
            <!-- tbc
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToLegalNotice()">Legal Notice</a>
            -->
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToDataSharingPolicy()">Data Sharing Policy</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToDTP()">Data Transfer Process</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToMdr()">MetaData Repository crMDR</a>
            <span class="dropdown-item" id="version">{{appVersion}}</span>
          </div>
        </div>
      </div>
      <div class="col-8 text-right pr-10 hop">
        <a href="https://ecrin.org/" target="_blank"><img src="./assets/media/logos/ecrin-logo.png" class="tr-logos" alt="ECRIN logo"/></a>
        <a href="https://www.uio.no/english/services/it/research/sensitive-data/" target="_blank"><img
            src="./assets/media/logos/uio-english.jpg"  class="tr-logos" alt="UiO logo"/></a>
      </div>
    </div>
  </header>
  <main>
    <div class="row justify-content-center pt-10" id="logo-div">
      <img src="./assets/media/logos/crDSRb.png" id="main-logo" alt="Clinical Research Data Sharing Repository">
    </div>
    <div class="row pt-4">
      <div class="col-12 text-center">
        <span id="tagline">Supporting clinical researchers in sharing their data</span>
      </div>
    </div>
    <div class="row pt-10">
      <div class="col-md-4 text-center p-2">
        <button class="btn btn-primary home-buttons blue" (click)="login()">Login</button>
      </div>
      <div class="col-md-4 text-center p-2">
        <button class="btn btn-primary home-buttons blue" (click)="goToContact()">Contact Us</button>
      </div>
      <div class="col-md-4 text-center p-2">
        <button class="btn btn-primary home-buttons blue" (click)="goToBrowse()">Browse</button>
      </div>
    </div>
    <div class="row pt-10">
      <div class="col-md-12 pl-20 pr-20 pt-5 text-center display-text">
        <span id="dsr-desc">
        The clinical research Data Sharing Repository is capable of holding any type of digital object 
        -data sets, documents, media file etc- in a secure research environment (TRE). 
        The repository collects the metadata necessary for the Findability of the objects, promoting data sharing in clinical research.
        </span>
      </div>
    </div>
  </main>
  <footer class="blue">
    <div class="row hop">
      <div class="col-2 col-md-2 p-0 m-2 d-inline-flex align-items-center" id="funded">
        <img src="./assets/media/logos/funded.png" alt="Funded by the European Union" class="img-fluid">
      </div>
      <div class="col-2 col-md-2 hop">
        <ul id="links">
          <li style="cursor: pointer;" (click)="goToAbout()">About</li>
          <li style="cursor: pointer;" (click)="goToUserGuide()">User Guide</li>
          <li style="cursor: pointer;" (click)="goToMdr()">crMDR</li>
        </ul>
      </div>
      <div class="col-4 text-right display-text hop pt-1">
        <span id="projects-text">All Projects are supported by the Horizon Europe and Horizon 2020
          Programme.<br>GA 824087 (EOSC-Life), GA 101046203 (BY-COVID)</span>
      </div>
      <div class="col hop text-right align-items-center mr-6">
        <a href="https://www.eosc-life.eu/" target="_blank" class="project-logos"><img
              src="./assets/media/logos/eoscBW.png" alt="EOSC-Life" class="project-logos"></a>
        <a href="https://by-covid.org/" target="_blank" class="project-logos"><img
              src="./assets/media/logos/bycovdBW.png" alt="BY-COVID" class="project-logos"></a>
      </div>
    </div>
  </footer>
</div>