@media screen and (max-width: 768px) {
  #dsr-desc {
    display: none;
  }

  .display-text {
    display: none;
  }
}

@media screen and (max-height: 480px) {
  #dsr-desc {
    display: none;
  }
}

header {
  height: 10vh;
}

main {
  height: 80vh;
}

footer {
  height: 10vh;
}

body {
  max-height:100vh !important;
}

.tr-logos {
  max-width: 50%;
  max-height: 80%;
}

#main-logo {
  max-width: 90%;
  height: auto;
  max-height: 100%;
}

#logo-div {
  height: 50%;
}

#tagline {
  font-size: 2.5vh;
}

.home-buttons {
  font-size: 2vh;
  font-weight: bold;
  padding: 1.2vh 2.2vh 1.2vh 2.2vh;
}

#dsr-desc {
  font-size: 2.5vh;
}

#projects-text {
  font-size: 1.5vh;
  color: white;
}

#version {
  color: rgb(131, 128, 128);
}