<div class="row pb-4" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center">
        <button class="btn btn-primary" (click)="addObjectContributor(); scrollToElement()">
            <i class="fa fa-plus"></i>
            Add Contributor
        </button>
    </div>
</div><form [formGroup]="form">
    <ng-template [ngIf]="objectContributors().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object contributors yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectContributors().length > 0">
        <div formArrayName="objectContributors">
            <div class="row" *ngFor="let objectContributor of objectContributors().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectconst'+i">
                    <mat-expansion-panel [expanded]="objectContributor.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findContributorType(objectContributor.value.contributorType)}}:
                            {{ objectContributor.value.isIndividual ? 
                                objectContributor.value.person : findOrganization(objectContributor.value.organisation) }}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="isIndividual" class="font-style text-capitalize">Is individual?</label>
                                <select class="form-control" id="isIndividual" formControlName="isIndividual" *ngIf="!isView" (change)="onChange(i)">
                                    <option selected disabled value="null">Select an option...</option>
                                    <option value=false>No</option>
                                    <option value=true>Yes</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{(objectContributor.value.isIndividual==='true' || objectContributor.value.isIndividual===true) ? 'Yes' : 'No'}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="contributorType" class="font-style text-capitalize">Contributor type</label>
                                <select class="form-control" id="contributorType" formControlName="contributorType" *ngIf="!isView">
                                    <option selected disabled value="null">Please select the contributor type</option>
                                    <option [value]=contributor.id *ngFor="let contributor of contributorType">
                                        {{contributor.name}}</option>
                                </select>
                                <h6 class="text-value" *ngIf="isView">{{findContributorType(objectContributor.value.contributorType)}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div *ngIf="isIndividual[i] ? isIndividual[i] : ( objectContributor.value.isIndividual==='true' || objectContributor.value.isIndividual===true)">
                                    <label for="person" class="font-style text-capitalize">Person</label>
                                    <input type="text" id="person" class="form-control" placeholder="" formControlName="person" *ngIf="!isView"/>
                                    <h6 class="text-value" *ngIf="isView">{{objectContributor.value.person}}</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="organisation" class="font-style text-capitalize">Organisation</label>
                                <ng-select [items]="organizationList" bindLabel="defaultName" bindValue="id" searchFn
                                    formControlName="organisation" [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control"
                                    appendTo="body" notFoundText="No members found" placeholder="Select Organisation"
                                    *ngIf="!isView">
                                </ng-select>
                                <h6 class="text-value" *ngIf="isView">{{findOrganization(objectContributor.value.organisation)}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectContributor.value.alreadyExist ? editContributor(objectContributor) : addContributor(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectContributor(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>