#flex-container {
    display:flex;
    flex-direction:column;
  
    /* fallback height */
    min-height:100vh;
  
    /* new small viewport height for modern browsers */
    min-height:100svh;
}
#flex-container > footer {
  margin-top:auto;
}
@media screen and (max-width: 500px) {
  .display-text {
    display: none;
  }
}

#projects-text {
  font-size: 1.5vh;
  color: white;
}

header {
  height: 10vh;
}

main {
  min-height: 80vh;
}

footer {
  height: 10vh;
}