<div class="o-hidden">
  <header>
    <div class="row">
      <div class="col-md-6">
        <div class="dropdown show mt-auto">
          <i class="fas fa-less-than p-5" style="cursor: pointer; font-size: 25px;" (click)="back()"></i>
          <i class="fas fa-align-justify dropdown-toggle" style="cursor: pointer; font-size: 25px;" aria-hidden="true"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [href]="aboutUrl" target="_blank">About</a>
            <a class="dropdown-item" [href]="userGuideUrl" target="_blank">User Guide</a>
            <a class="dropdown-item" [href]="mdrUrl" target="_blank">MDR</a>
            <a class="dropdown-item" [href]="legalNoticeUrl" target="_blank">Legal Notice</a>
            <a class="dropdown-item" [href]="dataPrivacyPolicyUrl" target="_blank">Data Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <a href="https://ecrin.org/" target="_blank"><img src="./assets/media/logos/ecrin-logo.png"
            style="height: 55px;" /></a>
        <a href="https://www.uio.no/english/services/it/research/sensitive-data/" target="_blank"><img
            src="./assets/media/logos/uio-english.jpg" style="height: 55px;" /></a>
      </div>
    </div>
  </header>
  <main>
    <div class="row">
      <div class="col-md-12 p-10 m-auto" style="max-width: 810px;">
        <div class="row form-group">
          <div class="col-md-12">
            <h1 class="text-bold text-uppercase text-center" style="color: #315492 !important;">Contact the crDSR
            </h1>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <label for="reason" class="font-style">Reason for contacting the repository</label>
            <select class="form-control" id="reason" (change)="onChangeReason($event)">
              <option disabled selected value="">Select an option...</option>
              <option value="upload">I would like to upload data</option>
              <option value="access">I would like to access data</option>
              <option value="info">I would like more information</option>
            </select>
          </div>
        </div>
        <app-contact-form *ngIf="!isAccessRequest && reasonPicked" [reason]="reason"></app-contact-form>
        <app-access-request-form *ngIf="isAccessRequest"></app-access-request-form>
      </div>
    </div>
    </main>
    <footer class="blue">
      <div class="row hop">
        <div class="col-2 col-md-2 p-0 m-2 d-inline-flex align-items-center white">
          <img src="./assets/media/logos/funded.png" alt="Funded by the European Union" class="img-fluid">
        </div>
        <div class="col-2 col-md-2 hop">
          <ul>
            <!-- TODO: router links instead of click events -->
            <li><a [href]="aboutUrl" class="footer-links" target="_blank">About</a></li>
            <li><a [href]="userGuideUrl" class="footer-links" target="_blank">User Guide</a></li>
            <li><a [href]="mdrUrl" class="footer-links" target="_blank">crMDR</a></li>
          </ul>
        </div>
        <div class="col-4 text-right display-text hop pt-1">
          <span id="projects-text">All Projects are supported by the Horizon Europe and Horizon 2020
            Programme.<br>GA 824087 (EOSC-Life), GA 101046203 (BY-COVID)</span>
        </div>
        <div class="col hop text-right align-items-center mr-6">
          <a href="https://www.eosc-life.eu/" target="_blank" class="project-logos"><img
              src="./assets/media/logos/eoscBW.png" alt="EOSC-Life" class="project-logos"></a>
          <a href="https://by-covid.org/" target="_blank" class="project-logos"><img
              src="./assets/media/logos/bycovdBW.png" alt="BY-COVID" class="project-logos"></a>
        </div>
      </div>
    </footer>
</div>