<div class="card">
    <div class="card-header">
        <div id="navbar">
            <div class="row upsert-navbar">
                <div class="col-md-4">
                    <h2 class="text-capitalize">{{ isView ? 'Study Details' : isEdit ? 'Editing Study Details' : 'Add a new study'}}</h2>
                </div>
                <div class="col-md-8 text-right">
                    <ng-container *ngIf="isView">
                        <ng-container *ngIf="showEdit || isManager">
                            <a [routerLink]="['/studies', sdSid, 'edit']" class="btn btn-primary mr-1">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </ng-container>
                        <button class="btn btn-primary mr-1" (click)="print()">
                            <i class="fa fa-print"></i> PDF
                        </button>
                        <button class="btn btn-primary mr-1" (click)="jsonExport()">
                            <i class="fa fa-code"></i> JSON
                        </button>
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </ng-container>
                    <ng-container *ngIf="!isView">
                        <button class="btn btn-success mr-5" (click)="onSave()">{{isEdit ? 'Apply Changes' : 'Save'}}</button>
                        <button class="btn btn-warning" (click)="back()">Cancel</button>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-5">
                <div class="pl-5">
                    <h4>{{studyData?.displayTitle}}</h4>
                </div>   
            </div>
        </div>
    </div>
    <div id="permanentNavbar"></div>

    <div class="card-body" id="content">
        <div class="row form-group" *ngIf="isAdd && addType === 'usingTrialId'">
            <div class="col-md-6">
                <label for="registryId" class="font-style text-capitalize">Trial Registry ID</label>
                <select id="registryId" class="form-control" [(ngModel)]="registryId">
                    <option selected disabled value="">Select an ID...</option>
                    <option [value]=registry.id *ngFor="let registry of trialRegistries">{{registry.id}} - {{registry.name}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="trialId" class="font-style text-capitalize">Trial ID</label>
                <input id="trialId" type="text" class="form-control" [(ngModel)]="trialId">
            </div>
        </div>
        <form [formGroup]="studyForm">
            <ng-container *ngIf="!(addType==='usingTrialId')">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="studyId" class="font-style text-capitalize">study id</label>
                        <h6 id="studyId" class="text-value">{{sdSid}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label for="displayTitle" class="font-style text-capitalize">Title <sup>*</sup> </label>
                        <textarea cols="30" rows="3" class="form-control" placeholder="Please enter a good mnemonic reference for your study"
                            formControlName="displayTitle" *ngIf="!isView" id="displayTitle" (change)="onChange()" [ngClass]="{ 'is-invalid': isSubmitted && g.displayTitle.errors }"></textarea>
                            <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.displayTitle.errors">
                                <p *ngIf="isSubmitted && g.displayTitle.errors.required"> Please enter study title</p>
                            </div>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.displayTitle}}</h6>
                    </div>
                    <div class="col-md-4">
                        <label for="organisation" class="font-style text-capitalize">Organisation <sup>*</sup> </label>
                        <ng-container *ngIf="!isView && isManager; else displayOrgName">
                            <ng-select id="organisation" [items]="organisations" formControlName="organisation" *ngxPermissionsOnly="['Admin', 'Manager']"
                            [compareWith]="compareOrganisations" [multiple]="false" [virtualScroll]="true" class="form-control ng-form-control"
                            notFoundText="No organisation found" placeholder="Please select the organisation" [searchFn]="customSearchFn" 
                            [ngClass]="{ 'is-invalid': isSubmitted && g.organisation.errors }">
                                <ng-template ng-label-tmp let-item="item">
                                    {{item.defaultName}}
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div class="row m-0">
                                        <div class="col-md-12 col-8 p-0 m-0">{{item.defaultName}}</div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </ng-container>
                        <ng-template #displayOrgName>
                            <h6 id="organisationName" class="text-value">{{organisationName}}</h6>
                        </ng-template>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="studyStatus" class="font-style text-capitalize">status <sup>*</sup> </label>
                        <select class="form-control" id="studyStatus" formControlName="studyStatus" *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.studyStatus.errors }">
                            <option selected disabled value="null">Please select...</option>
                            <option [value]=status.id *ngFor="let status of studyStatuses">{{status.name}}</option>
                        </select>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.studyStatus.errors">
                            <p *ngIf="isSubmitted && g.studyStatus.errors.required"> Please enter the study status</p>
                        </div>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyStatus?.name}}</h6>
                    </div>
                    <div class="col-md-4">
                        <label for="studyType" class="font-style text-capitalize">type <sup>*</sup> </label>
                        <select class="form-control" id="studyType" formControlName="studyType" *ngIf="!isView"
                            (change)="studyTypeChange()" [ngClass]="{ 'is-invalid': isSubmitted && g.studyType.errors }">
                            <option selected disabled value="null">Please select...</option>
                            <option [value]=type.id *ngFor="let type of studyTypes">{{type.name}}</option>
                        </select>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.studyType.errors">
                            <p *ngIf="isSubmitted && g.studyType.errors.required"> Please enter the study type</p>
                        </div>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyType?.name}}</h6>
                    </div>
                    <div class="col-md-2">
                        <label for="studyStartMonth" class="font-style text-capitalize">Start Month</label>
                        <select id="studyStartMonth" class="form-control" formControlName="studyStartMonth" *ngIf="!isView">
                            <option selected disabled value="null">Select a month</option>
                            <option [value]="month.id" *ngFor="let month of monthValues">{{month.name}}</option>
                        </select>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyStartMonth}}</h6>
                    </div>
                    <div class="col-md-2">
                        <label for="studyStartYear" class="font-style text-capitalize">Start Year <sup>*</sup> </label>
                        <p-calendar id="studyStartYear" formControlName="studyStartYear" view="year" dateFormat="yy"
                            *ngIf="!isView" [ngClass]="{ 'is-invalid': isSubmitted && g.studyStartYear.errors }" placeholder="Select a year"></p-calendar>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.studyStartYear.errors">
                            <p *ngIf="isSubmitted && g.studyStartYear.errors.required">Please enter the study start year</p>
                        </div>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyStartYear}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="briefDescription" class="font-style text-capitalize">Brief description</label>
                        <textarea class="form-control" cols="30" rows="5" placeholder="Please enter a brief description of your study"
                            formControlName="briefDescription" *ngIf="!isView" id="briefDescription">
                            </textarea>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.briefDescription}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="dataSharingStatement" class="font-style text-capitalize">Data sharing statement*</label>
                        <textarea class="form-control" cols="30" rows="5" placeholder="Please enter a Data sharing statement related to your submission, e.g. ‘Submitter agrees that data can be shared with others by the repository manager’, or ‘Any request of sharing the data should be agreed directly with the submitter’, etc."
                            formControlName="dataSharingStatement" *ngIf="!isView" id="dataSharingStatement"></textarea>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="isSubmitted && g.dataSharingStatement.errors">
                            <p *ngIf="isSubmitted && g.dataSharingStatement.errors.required">Please enter a data sharing statement</p>
                        </div>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.dataSharingStatement}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <label for="studyGenderElig" class="font-style text-capitalize">Study gender eligibility</label>
                        <select class="form-control" id="studyGenderElig" formControlName="studyGenderElig" *ngIf="!isView">
                            <option selected disabled value="null">Please select...</option>
                            <option [value]=gender.id *ngFor="let gender of genderEligibility">{{gender.name}}</option>
                        </select>
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyGenderElig?.name}}</h6>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <label for="studyEnrollment" class="font-style text-capitalize">Study enrollment</label>
                        <input type="text" class="form-control" placeholder="Estimated or actual number of participants in the study"
                            formControlName="studyEnrollment" *ngIf="!isView" id="studyEnrollment" />
                        <h6 *ngIf="isView" class="text-value">{{studyData?.studyEnrollment}}</h6>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="col-8">
                                <label for="minAge" class="font-style text-capitalize">Min age</label>
                                <input type="text" id="minAge" class="form-control" placeholder="Minimum age value"
                                    formControlName="minAge" *ngIf="!isView" />
                                <h6 *ngIf="isView" class="text-value">{{studyData?.minAge ? studyData?.minAge :
                                    ''}}</h6>
                            </div>
                            <div class="col-4">
                                <label for="minAgeUnits" class="font-style text-capitalize">Units</label>
                                <select id="minAgeUnits" class="form-control" formControlName="minAgeUnit" *ngIf="!isView">
                                    <option selected disabled value="null">Please select...</option>
                                    <option [value]=unit.id *ngFor="let unit of timeUnits">{{unit.name}}</option>
                                </select>
                                <h6 *ngIf="isView" class="text-value">{{studyData?.minAgeUnit?.name}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="col-8">
                                <label for="maxAge" class="font-style text-capitalize">Max age</label>
                                <input id="maxAge" type="text" class="form-control" placeholder="Maximum age value"
                                    formControlName="maxAge" *ngIf="!isView" />
                                <h6 *ngIf="isView" class="text-value">{{studyData?.maxAge ? studyData?.maxAge :
                                    ''}}</h6>
                            </div>
                            <div class="col-4">
                                <label for="maxAgeUnits" class="font-style text-capitalize">Units</label>
                                <select id="maxAgeUnits" class="form-control" formControlName="maxAgeUnit" *ngIf="!isView">
                                    <option selected disabled value="null">Please select...</option>
                                    <option [value]=unit.id *ngFor="let unit of timeUnits">{{unit.name}}</option>
                                </select>
                                <h6 *ngIf="isView" class="text-value">{{studyData?.maxAgeUnit?.name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <hr *ngIf="isEdit || isView" class="hr-big"/>
            <ng-container *ngIf="isEdit || isView">
                <div class="mt-8">
                    <mat-expansion-panel [expanded]="studyData?.studyIdentifiers?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyIdentifiers?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Study identifier(s)</h6>
                        </mat-expansion-panel-header>
                        <app-study-identifier [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-study-identifier>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="studyData?.studyTitles?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyTitles?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Study title(s)</h6>
                        </mat-expansion-panel-header>
                        <app-study-title [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit" [publicTitle]="publicTitle"></app-study-title>
                    </mat-expansion-panel>
                    <hr />
                    <ng-container *ngIf="studyType === 'interventional' || studyType === 'observational'">
                        <mat-expansion-panel [expanded]="studyData?.studyFeatures?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyFeatures?.length === 0) ? true : false">
                            <mat-expansion-panel-header>
                                <h6 class="pt-3 font-style">Study feature(s)</h6>
                            </mat-expansion-panel-header>
                            <app-study-feature [studyId]="id" *ngIf="id && studyType" [isView]="isView" [isEdit]="isEdit" [studyType]="studyType"></app-study-feature>
                        </mat-expansion-panel>
                        <hr />
                    </ng-container>
                    <mat-expansion-panel [expanded]="studyData?.studyTopics?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyTopics?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Study topic(s)</h6>
                        </mat-expansion-panel-header>
                        <app-study-topic [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit" ></app-study-topic>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="studyData?.studyRelationships?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyRelationships?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Study relationship(s)</h6>
                        </mat-expansion-panel-header>
                        <app-study-relationship [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-study-relationship>
                    </mat-expansion-panel>
                    <hr />
                    <mat-expansion-panel [expanded]="studyData?.studyContributors?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyContributors?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <h6 class="pt-3 font-style">Study contributor(s)</h6>
                        </mat-expansion-panel-header>
                        <app-study-contributor [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-study-contributor>
                    </mat-expansion-panel>
                </div>
                <hr />
                <mat-expansion-panel [expanded]="associatedObjects?.length > 0 ? true : false" [disabled]="(isView && associatedObjects?.length === 0) ? true : false">
                    <mat-expansion-panel-header>
                        <h6 class="pt-3 font-style">Study object(s)</h6>
                    </mat-expansion-panel-header>
                    <ul>
                        <li *ngFor="let object of associatedObjects">
                            <a [routerLink]="isBrowsing ? ['/browsing/data-objects', object.sdOid, 'view'] : ['/data-objects', object.sdOid, 'view']">{{object.displayTitle}} ({{object.sdOid}})</a></li>
                    </ul>
                </mat-expansion-panel>
            </ng-container>
        </form>
    </div>
</div>
<br />