<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyTopic(); scrollToElement()">
            <i class="fa fa-plus"></i> Add topic
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="studyTopics().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study topics yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyTopics().length > 0">
        <div formArrayName="studyTopics">
            <div class="row" *ngFor="let studyTopic of studyTopics().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'topicpanel'+i">
                    <mat-expansion-panel [expanded]="studyTopic.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findTopicType(studyTopic.value.topicTypeId)}} : {{studyTopic.value.meshValue}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="topicTypeId" class="font-style text-capitalize">Topic type</label>
                                <select class="form-control" id="topicTypeId" formControlName="topicTypeId" *ngIf="!isView">
                                    <option disabled selected value="null">Please select topic type</option>
                                    <option [value]="title.id" *ngFor="let title of topicTypes">{{title.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findTopicType(studyTopic.value.topicTypeId)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="meshValue" class="font-style text-capitalize">Topic value</label>
                                <input type="text" id="meshValue" class="form-control" placeholder="Please enter topic"
                                formControlName="meshValue" *ngIf="!isView"/>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{studyTopic.value.meshValue}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="originalValue" class="font-style text-capitalize">Controlled Terminology</label>
                                <ng-select [items]="controlledTerminology" bindLabel="name" bindValue="id" formControlName="originalCtId" [multiple]="false"
                                    [virtualScroll]="true" class="custom" notFoundText="No terminology found" placeholder="Select Terminology" *ngIf="!isView">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.name}}
                                    </ng-template>
                                    <!-- <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                        <div class="row m-0">
                                            <div class="col-md-8 col-8 p-0 m-0">
                                                <div class="col-md-12">{{item.sdSid}}</div>
                                                <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.displayTitle}}</div>
                                            </div>
                                        </div>
                                    </ng-template> -->
                                </ng-select>
                                <!-- <input type="text" id="originalValue" class="form-control" placeholder="Enter a parameter..." formControlName="originalValue"
                                    *ngIf="!isView" /> -->
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findTopicVocabulary(studyTopic.value.originalCtId)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="meshCode" class="font-style text-capitalize">CT code</label>
                                <input type="text" id="meshCode" class="form-control" placeholder="Please enter terminology code"
                                formControlName="meshCode" *ngIf="!isView"/>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{studyTopic.value.meshCode}}</h6>
                            </div>
                            <!-- <div class="col-md-4">
                                <label for="meshCoded" class="font-style text-capitalize">Mesh coded</label>
                                <select class="form-control" id="meshCoded" formControlName="meshCoded" *ngIf="!isView">
                                    <option disabled selected value=""></option>
                                    <option value=true>Yes</option>
                                    <option value=false>No</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{studyTopic.value.meshCoded}}</h6>
                            </div> -->
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyTopic.value.alreadyExist ? editTopic(studyTopic) : addTopic(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyTopic(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>