<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 justify-content-center text-right mt-5">
        <button class="btn btn-primary" (click)="addObjectDate(); scrollToElement()">
            <i class="fa fa-plus"></i> Add Date
        </button>
    </div>
</div><form [formGroup]="form">
    <ng-template [ngIf]="objectDates().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object dates yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectDates().length > 0">
        <div formArrayName="objectDates">
            <div class="row" *ngFor="let objectDate of objectDates().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectdate'+i">
                    <mat-expansion-panel [expanded]="objectDate.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findDateType(objectDate.value.dateTypeId)}} : {{objectDateData[i]?.startYear}}-{{objectDate.value.startMonth}}-{{objectDate.value.startDay}}
                        </mat-expansion-panel-header>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="dateTypeId" class="font-style text-capitalize">Date type</label>
                                <select id="dateTypeId" class="form-control" formControlName="dateTypeId" *ngIf="!isView">
                                    <option disabled selected value="null">Please select the type of date</option>
                                    <option [value]=date.id *ngFor="let date of dateType">{{date.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findDateType(objectDate.value.dateTypeId)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="dateIsRange" class="font-style text-capitalize">Is date range?</label>
                                <select id="dateIsRange" class="form-control" formControlName="dateIsRange" *ngIf="!isView" (change)="onChange(i)">
                                    <option disabled selected value="">Select an option...</option>
                                    <option value=false>No</option>
                                    <option value=true>Yes</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDate.value.dateIsRange}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="startDay" class="font-style text-capitalize">Start date</label>
                                <select id="startDay" class="form-control" formControlName="startDay" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option [value]="day" *ngFor="let day of dayValues">{{day}}</option>
                                </select>
                                <!-- <p-calendar appendTo="body" id="startDay" formControlName="startDay" view="date" dateFormat="dd"></p-calendar> -->
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDate.value.startDay}}</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="startMonth" class="font-style text-capitalize">Start Month</label>
                                <select id="startMonth" class="form-control" formControlName="startMonth" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option [value]="month.id" *ngFor="let month of monthValues">{{month.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDate.value.startMonth}}</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="startYear" class="font-style text-capitalize">Start Year</label>
                                <p-calendar appendTo="body" id="startYear" formControlName="startYear" view="year" dateFormat="yy" *ngIf="!isView"></p-calendar>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{getYear(objectDate.value.startYear)}}</h6>
                            </div>
                        </div>
                        <div class="row form-group" *ngIf="showEndday[i]">
                            <div class="col-md-4">
                                <label for="endDay" class="font-style text-capitalize">End Date</label>
                                <select id="endDay" class="form-control" formControlName="endDay" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option [value]="day" *ngFor="let day of dayValues">{{day}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDate.value.endDay}}</h6>
                                <!-- <p-calendar appendTo="body" id="endDay" formControlName="endDay" view="date" dateFormat="dd"></p-calendar> -->
                            </div>
                            <div class="col-md-4">
                                <label for="endMonth" class="font-style text-capitalize">End Month</label>
                                <select id="endMonth" class="form-control" formControlName="endMonth" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option [value]="month.id" *ngFor="let month of monthValues">{{month.name}}</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectDate.value.endMonth}}</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="endYear" class="font-style text-capitalize">End Year</label>
                                <p-calendar appendTo="body" id="endYear" formControlName="endYear" view="year" dateFormat="yy" *ngIf="!isView"></p-calendar>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{getYear(objectDate.value.endYear)}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectDate.value.alreadyExist ? editDate(objectDate, i) : addDate(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectDate(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>