<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Reset Record</h5>
    </div>
    <div class="modal-body">
        <div class="row ml-3">
            <div class="col-md-12">
                <h6>Are you sure you want to proceed?</h6>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRecord()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">No</button>
    </div>
</div>