<!--begin::Advance Table Widget 9-->
<div class="card" [ngClass]="cssClass">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <div class="row">
      <div class="col-7 col-sm-6 col-md-7">
        <div class="row">
          <div class="col-md-12 font-weight-bolder text-dark" style="font-size: 1.27rem;">Recent Data Transfers</div>
          <div class="col-md-12 text-muted font-weight-bold font-size-sm">Showing the 10 most recently added DTPs, from a total of {{dtpTotal}}.</div>
        </div>
      </div>
      <div class="col-5 col-sm-6 col-md-5 text-right">
        <a [routerLink]="['/data-transfers', 'add']" class="btn btn-success font-weight-bolder font-size-sm mr-3"
          target="temptab">Add</a>
        <a [routerLink]="['/data-transfers']" class="btn btn-info font-weight-bolder font-size-sm" target="_blank">See All</a>
      </div>
    </div>
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3" style="height: 500px; overflow: auto;">
    <div class="row">
      <div class="col-md-12 pr-0">
        <mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="id" style="padding-left: 16px;">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="organisation">
            <mat-header-cell *matHeaderCellDef> Organisation </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.orgName}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]="['/data-transfers', row.id, 'view']" target="_blank">{{row.displayName}}</a>
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.statusName}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]="['/data-transfers', row.id, 'view']" target="temptab"
                class="btn btn-light-primary font-weight-bolder font-size-sm mr-3">View</a>
              <a [routerLink]="['/data-transfers', row.id, 'edit']" target="temptab"
                class="btn btn-light-success font-weight-bolder font-size-sm">Edit</a>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 9-->