<div class="row pb-2" *ngIf="!isView">
    <div class="col-12 text-right justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addObjectInstance(); scrollToElement()">
            <i class="fa fa-plus"></i> Add Instance
        </button>
    </div>
</div>
<form [formGroup]="form">
    <ng-template [ngIf]="objectInstances().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object instances yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectInstances().length > 0">
        <div formArrayName="objectInstances">
            <div class="row" *ngFor="let objectInstance of objectInstances().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5" [id]="'objectinst'+i">
                    <mat-expansion-panel [expanded]="objectInstance.value.alreadyExist ? false : true">
                        <mat-expansion-panel-header class="text-truncate">
                            {{findResourceType(objectInstance.value.resourceTypeId)}} : {{objectInstance.value.repositoryOrg}}
                        </mat-expansion-panel-header>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="repositoryOrg" class="font-style text-capitalize">Repository organisation</label>
                                <input id="repositoryOrg" type="text" class="form-control" placeholder="Enter an Organisation..."
                                    formControlName="repositoryOrg" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectInstance.value.repositoryOrg}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="urlAccessible" class="font-style text-capitalize">Access details: Direct access</label>
                                <select id="urlAccessible" class="form-control" formControlName="urlAccessible" *ngIf="!isView" (change)="onChange(i)">
                                    <option selected disabled value="">Select an option...</option>
                                    <option value=false>No</option>
                                    <option value=true>Yes</option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectInstance.value.urlAccessible}}</h6>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="url" class="font-style text-capitalize">Access details: URL</label>
                                <input id="url" type="text" class="form-control" placeholder="https://www.example.org/mydata"
                                    formControlName="url" *ngIf="!isView" />
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectInstance.value.url}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="resourceTypeId" class="font-style text-capitalize">Resource details: Resource type</label>
                                <select id="resourceTypeId" class="form-control" formControlName="resourceTypeId" *ngIf="!isView">
                                    <option selected disabled value="null">Please select resource type</option>
                                    <option [value]=resource.id *ngFor="let resource of resourceType">{{resource.name}}
                                    </option>
                                </select>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{findResourceType(objectInstance.value.resourceTypeId)}}</h6>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="resourceSize" class="font-style text-capitalize">Resource details: Size</label>
                                        <input id="resourceSize" type="text" class="form-control" placeholder="Enter a parameter..."
                                            formControlName="resourceSize" *ngIf="!isView" />
                                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectInstance.value.resourceSize}} {{findSizeUnit(objectInstance.value.resourceSizeUnits)}}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="resourceSize" class="font-style text-capitalize">Units</label>
                                        <select class="form-control" formControlName="resourceSizeUnits"
                                            *ngIf="!isView">
                                            <option selected disabled value="">Select an option...</option>
                                            <option [value]=size.id *ngFor="let size of sizeUnit">{{size.name}}</option>
                                        </select>
                                        <!-- <h6 style="font-weight: 100;"
                                            *ngIf="isView">{{findSizeUnit(objectInstance.value.resourceSizeUnits)}}</h6> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="resourceComments" class="font-style text-capitalize">Comments</label>
                                <textarea id="resourceComments" class="form-control" cols="30" rows="5" placeholder="Any further technical information about the resource"
                                    formControlName="resourceComments" *ngIf="!isView"></textarea>
                                <h6 style="font-weight: 100;" *ngIf="isView">{{objectInstance.value.resourceComments}}</h6>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary"
                                (click)="objectInstance.value.alreadyExist ? editInstance(objectInstance) : addInstance(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectInstance(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>